@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/sprite";
//@include sprites($spritesheet-sprites);

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  height: 100%
}

h1, h2, h3, h4, h5, h6, li, ol, ul, p {
  margin: 0;
  padding: 0
}

li, ol, ul {
  list-style: none
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  line-height: 1.1;
  &.hidden {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain
}

.icon {
  vertical-align: middle;
  margin-bottom: 2px
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block
}

button {
  background: 0 0;
  display: inline-block;
  border: none;
  cursor: pointer;
  padding: 0
}

a:focus, button:focus, input:focus, textarea:focus {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto
}

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 1890px;
}

.input {
  display: block;
  font-size: 14px;
  border: 1px solid #9c9c9c;
  border-radius: 20px;
  padding: 8px 15px;
  width: 100%;
  &::placeholder {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #939494;
  }
  &::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #939494;
  }
  &::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #939494;
  }
  &:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #939494;
  }
  &:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #939494;
  }
  &--size{
    &-small {
      padding: 11px 20px;
      box-shadow: 0px 5px 12px -1px rgba(0,0,0, 0.36);
    }
  }
}

.textarea {
  border: none;
  background-color: #fff;
  padding: 15px;
  border-radius: 13px;
  display: block;
  box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.36);
  resize: none;
  font-size: 14px;
  &::placeholder {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #939494;
  }
  &::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #939494;
  }
  &::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #939494;
  }
  &:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #939494;
  }
  &:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #939494;
  }
}

.header__bottom {
  z-index: 100;
  transition: all linear .2s;
}

//Модули
@import "modules/modules";
