.delivery.popup.delivery--block#delivery
  .delivery__head
    h2.delivery__head-title.title.title--color-white РАСЧИТАТЬ ДОСТАВКУ
  form(action="#").delivery__form
    span.delivery__form-subtitle Введите название вашего населенного пункта:
    input(type="text" placeholder="Город / населенный пункт").input.delivery__form-input
    span.delivery__form-price(data-price="400 р") Доставка: