.popup.popup--width#reset
  .popup__head
    h2.popup__title.title.title--color-white восстановление пароля
  form(action="#").popup__form
    span.popup__text Укажите E-mail, указанный при регистрации. <br> Контрольная строка для смены пароля, а так же ваши регистрационные данные, будут высланы вам по E-mail.
    label.popup__control
      input(type="email" placeholder="E-mail").input.popup__input
    button(type="submit").btn.btn--color-black.btn--bg-yellow.popup__btn восстановить