.icon {
  transition: all linear .2s;
}

.icon-email {
  width: 17px;
  height: 14px;
  fill: #6fa643;
}

.icon-phone {
  width: 14px;
  height: 17px;
  fill: #6fa643;
}

.icon-heart {
  width: 28px;
  height: 25px;
  fill: transparent;
  stroke-width: 2px;
  stroke: #bd8064;
  &--active {
    fill: #bd8064;
  }
}

.icon-basket {
  width: 29px;
  height: 24px;
  fill: #bd8064;
}

.icon-user {
  width: 25px;
  height: 25px;
  fill: #bd8064;
}

.icon-search {
  width: 18px;
  height: 17px;
  stroke-width: 2px;
  stroke: #a2a2a2;
  fill: transparent;
}
.icon-plus {
  stroke-width: 2px;
  stroke: #a2a2a2;
  fill: transparent;
  width: 11px;
  height: 11px;
}
.icon-minus {
  stroke-width: 2px;
  stroke: #a2a2a2;
  fill: transparent;
  width: 11px;
  height: 11px;
}

.icon-marker {
  width: 14px;
  height: 21px;
  fill: #6f6f6f;
}

.icon-clock {
  width: 18px;
  height: 17px;
  fill: #6f6f6f;
}
.icon-arrow-down {
  fill: transparent;
  width: 15px;
  height: 15px;
  stroke: #000;
}
.icon-spoon {
  width: 11px;
  max-height: 29px;
}
.icon-fork {
  width: 8px;
  max-height: 29px;
}
.icon-eye {
  width: 20px;
  height: 10px;
  fill: #6f6f6f;
}
.icon-like {
  width: 15px;
  height: 15px;
  fill: #6f6f6f
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  &--size{
    &-small {
      font-size: 21px;
      font-weight: 700;
    }
    &-big {
      font-size: 45px;
      line-height: 50px;
    }
  }
  &--wight {
    &-black {
      font-weight: 900;
    }
  }
  &--color {
    &-white {
      color: #fff;
    }
    &-japonica {
      color: #D38264;
    }
  }
}
.arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 46px;
  height: 46px;
  background-color: rgba(#000, 0.15);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &--left {
    left: 0;
  }
  &--right {
    right: 0;
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    width: 13px;
    height: 13px;
    background-color: rgba(#fff, 0.7);
    border-radius: 50%;
    margin: 0 7.5px;
    cursor: pointer;
    &.slick-active {
      background-color: #6fa643;
    }
  }
  button {
    font-size: 0;
    outline: none;
  }
  &--white {
    li {
      margin: 0 5px;
      border: 1px solid #ddd3bd;
      &.slick-active {
        background-color: #ddd3bd;
      }
    }
  }
}
.counter {
  width: 75px;
  display: flex;
  align-items: center;
  &__input {
    border: none;
    width: 30px;
    text-align: center;
    background-color: transparent;
  }
  &__btn {
    width: 21px;
    height: 21px;
    background-color: #f0f0f0;
  }
}
.section-top {
  margin-bottom: 30px;
  padding-left: 40px;
  &__desc {
    margin-top: 5px;
    line-height: 18px;
    color: #6f6f6f;
    display: block;
  }
}
.slick-list,
.slick-track {
  height: 100%;
}
.slick-slide {
  &:focus, a {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

@import "ie";
@media (max-width: 850px) {
  .title--size-big {
    font-size: 35px;
    line-height: 40px;
  }
}
@media (max-width: 550px) {
  .title--size-big {
    font-size: 30px;
    line-height: 36px;
  }
  .title--size-small {
    font-size: 18px;
  }
  .title {
    font-size: 22px;
  }
}
