.icon-email {
  width: 17px;
  height: 14px;
}

.icon-phone {
  width: 14px;
  height: 17px;
}

.icon-heart {
  width: 28px;
  height: 25px;
}

.icon-basket {
  width: 29px;
  height: 24px;
}

.icon-user {
  width: 25px;
  height: 25px;
}

.icon-search {
  width: 18px;
  height: 17px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  &--size{
    &-small {
      font-size: 21px;
      font-weight: 700;
    }
  }
  &--color {
    &-white {
      color: #fff;
    }
  }
}
.arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 46px;
  height: 46px;
  background-color: rgba(#000, 0.15);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &--left {
    left: 0;
  }
  &--right {
    right: 0;
  }
}
@import "ie";
