.icon-email {
  width: 17px;
  height: 14px;
}

.icon-phone {
  width: 14px;
  height: 17px;
}

.icon-heart {
  width: 28px;
  height: 25px;
}

.icon-basket {
  width: 29px;
  height: 24px;
}

.icon-user {
  width: 25px;
  height: 25px;
}

.icon-search {
  width: 18px;
  height: 17px;
}
@import "ie";
