include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title #{title}
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content="IE = edge")
    <![endif]-->
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    link(rel="stylesheet" type='text/css' href="static/css/styles.css")
  body.hidden--loader
    include ../modules/loader
    .wrapper
      block header
      .content
        block breadcrumbs
        block content
      include ../modules/footer/footer
    include ../modules/popup/map
    include ../modules/popup/login
    include ../modules/popup/reset
    include ../modules/popup/registration
    include ../modules/popup/request
    script(src="static/js/libs.js")
    script(src="static/js/main.js")
    block script
