section.banner
  .banner__bg.lazy(data-src="static/images/content/bg/banner-bg.jpg")
    .container
      .banner__inner.banner__inner--height-small
        .banner__content
          h2.title.banner__title.title--wight-black.title--size-big.title--color-white СКАЧАЙ НАШЕ МЕНЮ
          span.banner__subtitle Более 400 готовых замороженных блюд <br> для вашего удобства мы собрали в едином каталоге!
        a(href="#" download="#").btn.btn--color-black.btn--bg-yellow.banner__link СКАЧАТЬ