section.info-block
  .container
    h2.info-block__title.title КУПИТЬ ГОТОВЫЕ ЗАМОРОЖЕННЫЕ БЛЮДА
    p.info-block__text Замороженные готовые блюда — верное и рациональное решшлагодаря которому каждая хозяйка может для всей семьи за несколько минут приготовить полноценный обед или ужин, состоящий из нескольких блюд. На эту перспективу стоит взглянуть и руководству предприятий в плане организации офисных обедов. Больше никаких бутербродов и перекусов всухомятку на работе! А главное - экономия <br> рабочего времени.