section.info-block.info-block--padding-bottom
  .container
    h2.info-block__title.title ГОТОВАЯ ЕДА ТПК "ВИЛОН"
    p.info-block__text Готовая еда - это не только роллы и пицца. Сегодня стала актуальной доставка готовой сбалансированной еды домой: каши, супы, различные вторые блюда. Поверьте, можно питаться правильно, при этом не стоять у плиты весь вечер. И если ваше хобби – не кулинария, то вы с уверенностью можете довериться нам. Торгово-промышленная компания «Вилон» - лидер на рынке замороженных блюд.
    p.info-block__text.info-block__text--margin Мы предлагаем готовую еду от ТПК «Вилон». Особенность наших приготовленных блюд состоит в использовании технологии шоковой заморозки, которая позволяет сохранить продукты свежими и полезными длительное время. Купить готовую еду можно оптом или в розницу по выгодным ценам.