.blog.zoom-anim-dialog.mfp-hide#news-view-1
  .container
    .blog__wrapper.blog__wrapper--shadow.blog__wrapper--padding
      h2.blog__title.title ПОПРОБУЙ СТРОЙНОСТЬ ОТ "BALANSIKA"
      +icon('close', 'blog__close mfp-close')
      .blog__bg.lazy(data-src="static/images/content/blog/blog-image-1.jpg")
        +icon('heart', 'blog__bg-icon js-toggle')
      .blog__content
        p.blog__text Готовое питание на работу или домой может быть полезным, вкусным и сбалансированным, если выбирать питание нашей торговой марки "Балансика".
        blockquote.blog__blockquote Здоровые и вкусные продукты <br> с натуральными ингредиентами
        p.blog__text Продукция ТМ "Балансика" представляет собой линейку готовых низкокаллорийных блюд. Готовая еда имеет исключительно натуральные компоненты, польза которых сохраняется за счет специальной герметичной упаковки. Полностью сбалансированные блюда по составу жиров, белков и углеводов не оставят равнодушным приверженцев здорового питания. Низкая каллорийность обеспечивает поддержание организма в нужной форме, без набора лишнего веса. Замороженные готовые блюда удобно брать с собой в офис или кушать дома, когда нет времени готовить. Супы и вторые блюда Balansika имеют ярко выраженный и насыщенный вкус, как дома.  Все, что потребуется, — разогреть еду в микроволновке в течение пары минут.
        .blog__content-col
          h3.blog__subtitle.title Коллекция блюд для здорового питания:
          ul.blog__list
            li.blog__list-item Первые блюда:
            li.blog__list-item Тыквенный крем-суп
            li.blog__list-item Крем-суп куриный
            li.blog__list-item Крем-суп из брокколи
        .blog__content-col
          h3.blog__subtitle.title Вторые блюда:
          ul.blog__list
            li.blog__list-item Филе кеты на пару с рисом "Босто"
            li.blog__list-item Треска отварная с картофелем и соусом из шпината
            li.blog__list-item Кус-кус с курочкой под овощным пуншем
            li.blog__list-item Курица в сливочном соусе с грибами и рисом "Босто"
            li.blog__list-item Индейка с овощным ассорти и соусом "Бешамель"
      .blog__info
        .blog__info-statistics
          time(datetime="01.02.2020").blog__info-day 01.02.2020
          span.blog__info-statistic
            +icon('eye', 'blog__info-icon')
            span 1025
          span.blog__info-statistic.js-like
            +icon('like', 'blog__info-icon')
            span 1025
        .blog__socials
          span.blog__socials-text Поделиться:
          a(href="#").blog__socials-link
            img(src="static/images/common/vk.svg" alt="").blog__socials-icon
          a(href="#").blog__socials-link
            img(src="static/images/common/facebook.svg" alt="").blog__socials-icon
          a(href="#").blog__socials-link
            img(src="static/images/common/ok.svg" alt="").blog__socials-icon
          a(href="#").blog__socials-link
            img(src="static/images/common/email.svg" alt="").blog__socials-icon
          a(href="#").blog__socials-link
            img(src="static/images/common/twitter.svg" alt="").blog__socials-icon