extends layout/main-page

block variables
    -var title = 'Магазин'

block header
  header.header
    .header__top
      .container
        .header__inner
          .header__info
            .logo(data-da="header__menu, 1, 500")
              a(href="index.html").logo__link
                img(src="static/images/common/logo.svg" alt="логотип").logo__image
            .header__icons
              a(href="tel:+74952239749").header__icons-link
                +icon('phone', 'header__icon')
                span.header__item-text +7 (495) 223-97-49
              a(href="mailto:info@vilon.ru").header__icons-link
                +icon('email', 'header__icon')
                span.header__item-text info@vilon.ru
          form(action="#").header__search
            input(type="text" placeholder="Поиск" required).header__search-input.input
            button(type="submit").header__search-btn
              +icon('search', 'header__search-icon')
          .header__request(data-da="header__menu, 1, 500")
            .header__request-icons
              a(href="favorites.html").header__request-link
                span.header__request-box(data-count="2").header__request-box--number
                  +icon('heart', 'header__request-icon')
              a(href="#" ).header__request-link
                span.header__request-box(data-count="2").header__request-box--number
                  +icon('basket', 'header__request-icon')
                span.header__request-text 10,500 р
              a(href="#login" data-fancybox).header__request-link.header__request-link--size-small
                span.header__request-box
                  +icon('user', 'header__request-icon')
                span.header__request-text Вход
            a(href="#" data-da="header__menu-list, last, 500").btn.btn--color-black.btn--bg-yellow.header__btn ОСТАВИТЬ ЗАЯВКУ
    .header__bottom.header__bottom--shadow
      .container
        nav.header__menu
          button(type="button").hamburger.hamburger--spring
            span.hamburger-box
              span.hamburger-inner
          ul.header__menu-list
            li.header__menu-item.header__menu-item--dropdown
              a(href="about.html").header__menu-link О компании
              +icon('arrow-down', 'header__menu-icon')
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="history.html").header__dropdown-link История
                li.header__dropdown-item
                  a(href="news.html").header__dropdown-link Новости
                li.header__dropdown-item
                  a(href="production.html").header__dropdown-link Производство
                li.header__dropdown-item
                  a(href="quality.html").header__dropdown-link Качество
                li.header__dropdown-item
                  a(href="awards.html").header__dropdown-link Наши награды
                li.header__dropdown-item
                  a(href="works.html").header__dropdown-link Вакансии
            li.header__menu-item.header__menu-item--dropdown
              a(href="cooperation.html").header__menu-link Сотрудничество
              +icon('arrow-down', 'header__menu-icon')
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="horeca.html").header__dropdown-link Horeca
                li.header__dropdown-item
                  a(href="suppliers.html").header__dropdown-link Поставщикам
                li.header__dropdown-item
                  a(href="distributors.html").header__dropdown-link Дистрибьютерам
            li.header__menu-item.header__menu-item--dropdown
              a(href="brands.html").header__menu-link Бренды
              +icon('arrow-down', 'header__menu-icon')
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="brands-view.html").header__dropdown-link Сытоедов
                li.header__dropdown-item
                  a(href="brands-view.html").header__dropdown-link Обожамс!
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Чебуречье
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Street Food
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Balansika
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Snack Bomb
            li.header__menu-item.header__menu-item--current
              a(href="catalog.html").header__menu-link Магазин
              +icon('arrow-down', 'header__menu-icon')
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="catalog-view.html").header__dropdown-link Завтраки
                li.header__dropdown-item
                  a(href="catalog-view.html").header__dropdown-link Первые блюда
                li.header__dropdown-item
                  a(href="catalog-view.html").header__dropdown-link Вторые блюда
                li.header__dropdown-item
                  a(href="catalog-view.html").header__dropdown-link Постные блюда
                li.header__dropdown-item
                  a(href="catalog-view.html").header__dropdown-link Жюльены
                li.header__dropdown-item
                  a(href="catalog-view.html").header__dropdown-link Выпечка
                li.header__dropdown-item
                  a(href="catalog-view.html").header__dropdown-link Снеки и чебуреки
                li.header__dropdown-item
                  a(href="catalog-view.html").header__dropdown-link Полуфабрикаты
                li.header__dropdown-item
                  a(href="catalog-view.html").header__dropdown-link Готовые рационы
            li.header__menu-item.header__menu-item--dropdown
              a(href="buyers.html").header__menu-link Покупателям
              +icon('arrow-down', 'header__menu-icon')
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="stores.html").header__dropdown-link Где купить
                li.header__dropdown-item
                  a(href="order-steps.html").header__dropdown-link Как заказать
                li.header__dropdown-item
                  a(href="stock.html").header__dropdown-link Акции
                li.header__dropdown-item
                  a(href="faq.html").header__dropdown-link Вопрос / ответ
                li.header__dropdown-item
                  a(href="delivery.html").header__dropdown-link Доставка / оплата
                li.header__dropdown-item
                  a(href="warranty.html").header__dropdown-link Возврат товара
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Образцы документов
            li.header__menu-item.header__menu-item--dropdown
              a(href="vilon-life.html").header__menu-link Vilon Life
              +icon('arrow-down', 'header__menu-icon')
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="fact-1.html").header__dropdown-link Кулинарная школа
                li.header__dropdown-item
                  a(href="fact-2.html").header__dropdown-link Интересно про еду
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Правильное питание
            li.header__menu-item
              a(href="contacts.html").header__menu-link Контакты
    .header__submenu
      .container
        .header__submenu-inner.header__submenu-inner--between
          a(href="#").header__submenu-link Завтраки
          a(href="#").header__submenu-link Первые блюда
          a(href="#").header__submenu-link Вторые блюда
          a(href="#").header__submenu-link Постные блюда
          a(href="#").header__submenu-link Жюльены
          a(href="#").header__submenu-link Выпечка
          a(href="#").header__submenu-link Снеки и чебуреки
          a(href="#").header__submenu-link Полуфабрикаты
          a(href="#").header__submenu-link.header__submenu-link--icon Готовые рационы

block breadcrumbs
  .breadcrumbs
    .container
      .breadcrumbs__inner
        a(href="index.html").breadcrumbs__link Главная
        a(href="#").breadcrumbs__link Магазин
block content
  .container-fluid
    .catalog__wrapper
      aside.catalog__filter
        h2.catalog__filter-title ФИЛЬТР
        form(action="#").catalog__filter-content
          .catalog__filter-col
            h3.catalog__filter-subtitle ЦЕНА
            .catalog__filter-top
              input(type="number" placeholder="0").input-from
              input(type="number" placeholder="200").input-to
            input(type="range" data-min="0" data-max="400" data-from="0" data-to="200").catalog__filter-input.input-range.input-range--price
            ul.catalog__filter-list
              li.catalog__filter-item
                input(type="radio" name="status" id="stock").catalog__filter-input.input-radio
                label(for="stock").catalog__filter-text акция
              li.catalog__filter-item
                input(type="radio" name="status" id="popular").catalog__filter-input.input-radio
                label(for="popular").catalog__filter-text хит продаж
              li.catalog__filter-item
                input(type="radio" name="status" id="new").catalog__filter-input.input-radio
                label(for="new").catalog__filter-text новинка
          .catalog__filter-col
            h3.catalog__filter-subtitle КАТЕГОРИЯ
            ul.catalog__filter-list
              li.catalog__filter-item
                input(type="radio" name="category" id="breakfast").catalog__filter-input.input-radio
                label(for="breakfast").catalog__filter-text завтраки
              li.catalog__filter-item
                input(type="radio" name="category" id="first-meal").catalog__filter-input.input-radio
                label(for="first-meal").catalog__filter-text первые блюда
              li.catalog__filter-item
                input(type="radio" name="category" id="second-courses").catalog__filter-input.input-radio
                label(for="second-courses").catalog__filter-text вторые блюда
              li.catalog__filter-item
                input(type="radio" name="category" id="lean-dishes").catalog__filter-input.input-radio
                label(for="lean-dishes").catalog__filter-text постные блюда
              li.catalog__filter-item
                input(type="radio" name="category" id="julienne").catalog__filter-input.input-radio
                label(for="julienne").catalog__filter-text жюльены
              li.catalog__filter-item
                input(type="radio" name="category" id="bakery-products").catalog__filter-input.input-radio
                label(for="bakery-products").catalog__filter-text выпечка
              li.catalog__filter-item
                input(type="radio" name="category" id="snacks-chebureks").catalog__filter-input.input-radio
                label(for="snacks-chebureks").catalog__filter-text снеки и чебуреки
              li.catalog__filter-item
                input(type="radio" name="category" id="semi-finished").catalog__filter-input.input-radio
                label(for="semi-finished").catalog__filter-text полуфабрикаты
          .catalog__filter-col
            h3.catalog__filter-subtitle ИНГРЕДИЕНТ
            ul.catalog__filter-list
              li.catalog__filter-item
                input(type="radio" name="ingredient" id="meat").catalog__filter-input.input-radio
                label(for="meat").catalog__filter-text мясо
              li.catalog__filter-item
                input(type="radio" name="ingredient" id="fish").catalog__filter-input.input-radio
                label(for="fish").catalog__filter-text рыба
              li.catalog__filter-item
                input(type="radio" name="ingredient" id="bird").catalog__filter-input.input-radio
                label(for="bird").catalog__filter-text птица
              li.catalog__filter-item
                input(type="radio" name="ingredient" id="vegetables").catalog__filter-input.input-radio
                label(for="vegetables").catalog__filter-text овощи / грибы
              li.catalog__filter-item
                input(type="radio" name="ingredient" id="fruit").catalog__filter-input.input-radio
                label(for="fruit").catalog__filter-text фрукты
              li.catalog__filter-item
                input(type="radio" name="ingredient" id="lactic").catalog__filter-input.input-radio
                label(for="lactic").catalog__filter-text молочный
          .catalog__filter-col
            h3.catalog__filter-subtitle ГАРНИР
            ul.catalog__filter-list
              li.catalog__filter-item
                input(type="radio" name="garnish" id="buckwheat").catalog__filter-input.input-radio
                label(for="buckwheat").catalog__filter-text гречка
              li.catalog__filter-item
                input(type="radio" name="garnish" id="potatoes").catalog__filter-input.input-radio
                label(for="potatoes").catalog__filter-text картофель
              li.catalog__filter-item
                input(type="radio" name="garnish" id="noodles").catalog__filter-input.input-radio
                label(for="noodles").catalog__filter-text лапша
              li.catalog__filter-item
                input(type="radio" name="garnish" id="pasta").catalog__filter-input.input-radio
                label(for="pasta").catalog__filter-text макароны
              li.catalog__filter-item
                input(type="radio" name="garnish" id="rice").catalog__filter-input.input-radio
                label(for="rice").catalog__filter-text рис
              li.catalog__filter-item
                input(type="radio" name="garnish" id="garnish-mushrooms").catalog__filter-input.input-radio
                label(for="garnish-mushrooms").catalog__filter-text грибы
              li.catalog__filter-item
                input(type="radio" name="garnish" id="garnish-vegetables").catalog__filter-input.input-radio
                label(for="garnish-vegetables").catalog__filter-text овощи
          .catalog__filter-col
            h3.catalog__filter-subtitle КУХНИ МИРА
            ul.catalog__filter-list
              li.catalog__filter-item
                input(type="radio" name="kitchen" id="russian").catalog__filter-input.input-radio
                label(for="russian").catalog__filter-text Русская
              li.catalog__filter-item
                input(type="radio" name="kitchen" id="french").catalog__filter-input.input-radio
                label(for="french").catalog__filter-text Французская
              li.catalog__filter-item
                input(type="radio" name="kitchen" id="italian").catalog__filter-input.input-radio
                label(for="italian").catalog__filter-text Итальянская
              li.catalog__filter-item
                input(type="radio" name="kitchen" id="pan-asian").catalog__filter-input.input-radio
                label(for="pan-asian").catalog__filter-text Паназиатская
              li.catalog__filter-item
                input(type="radio" name="kitchen" id="caucasian").catalog__filter-input.input-radio
                label(for="caucasian").catalog__filter-text Кавказская
          .catalog__filter-col
            h3.catalog__filter-subtitle БРЕНД
            ul.catalog__filter-list
              li.catalog__filter-item
                input(type="radio" name="brand" id="sytoedov").catalog__filter-input.input-radio
                label(for="sytoedov").catalog__filter-text Сытоедов
              li.catalog__filter-item
                input(type="radio" name="brand" id="streed-food").catalog__filter-input.input-radio
                label(for="streed-food").catalog__filter-text Streed Food
              li.catalog__filter-item
                input(type="radio" name="brand" id="objams").catalog__filter-input.input-radio
                label(for="objams").catalog__filter-text Обожамс
              li.catalog__filter-item
                input(type="radio" name="brand" id="balance").catalog__filter-input.input-radio
                label(for="balance").catalog__filter-text Балансика
              li.catalog__filter-item
                input(type="radio" name="brand" id="snack-bomb").catalog__filter-input.input-radio
                label(for="snack-bomb").catalog__filter-text Snack Bomb
              li.catalog__filter-item
                input(type="radio" name="brand" id="cheburechye").catalog__filter-input.input-radio
                label(for="cheburechye").catalog__filter-text Чебуречье
          .catalog__filter-col
            h3.catalog__filter-subtitle КАЛОРИЙНОСТЬ
            .catalog__filter-top
              input(type="number" placeholder="50").input-from
              input(type="number" placeholder="2000").input-to
            input(type="range" data-min="0" data-max="2000" data-from="50" data-to="2000").catalog__filter-input.input-range.input-range--calorie
      .catalog__products
        .container
          .catalog__row
            article.product.product--icon.product--icon-stock.catalog__product
              .product__head
                .product__head-slider
                  .product__head-slide.js-parent
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
                  .product__head-slide
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
              a(href="catalog-view.html").product__main
                h3.product__title БОРЩ ЧЕРНИГОВСКИЙ
                .product__main-box
                  ul.product__list
                    li.product__list-item Вес.........................300 гр
                    li.product__list-item Калорийность........147 Ккал
                    li.product__list-item Белки......................3,3 г
                    li.product__list-item Жиры......................6,6 г
                    li.product__list-item Углеводы................20,1 г
              .product__footer
                .product__info
                  span.product__price 120 р
                  .counter
                    button.counter__btn(data-direction="minus")
                      +icon('minus', 'counter__icon')
                    input(value="1" disabled).counter__input
                    button.counter__btn(data-direction="plus")
                      +icon('plus', 'counter__icon')
                a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
            article.product.catalog__product
              .product__head
                .product__head-slider
                  .product__head-slide.js-parent
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
                  .product__head-slide
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
              a(href="catalog-view.html").product__main
                h3.product__title ТРЕСКА ОТВАРНАЯ С КАРТОФЕЛЕМ И СОУСОМ ИЗ ШПИНАТА
                .product__main-box
                  ul.product__list
                    li.product__list-item Вес.........................300 гр
                    li.product__list-item Калорийность........147 Ккал
                    li.product__list-item Белки......................3,3 г
                    li.product__list-item Жиры......................6,6 г
                    li.product__list-item Углеводы................20,1 г
              .product__footer
                .product__info
                  span.product__price 120 р
                  .counter
                    button.counter__btn(data-direction="minus")
                      +icon('minus', 'counter__icon')
                    input(value="1" disabled).counter__input
                    button.counter__btn(data-direction="plus")
                      +icon('plus', 'counter__icon')
                a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
            article.product.product--icon.product--icon-new.catalog__product
              .product__head
                .product__head-slider
                  .product__head-slide.js-parent
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
                  .product__head-slide
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
              a(href="catalog-view.html").product__main
                h3.product__title СУП-ЛАПША ДОМАШНЯЯ С КУРИЦЕЙ
                .product__main-box
                  ul.product__list
                    li.product__list-item Вес.........................300 гр
                    li.product__list-item Калорийность........147 Ккал
                    li.product__list-item Белки......................3,3 г
                    li.product__list-item Жиры......................6,6 г
                    li.product__list-item Углеводы................20,1 г
              .product__footer
                .product__info
                  span.product__price 120 р
                  .counter
                    button.counter__btn(data-direction="minus")
                      +icon('minus', 'counter__icon')
                    input(value="1" disabled).counter__input
                    button.counter__btn(data-direction="plus")
                      +icon('plus', 'counter__icon')
                a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
            article.product.catalog__product
              .product__head
                .product__head-slider
                  .product__head-slide.js-parent
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
                  .product__head-slide
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
              a(href="catalog-view.html").product__main
                h3.product__title БОРЩ ЧЕРНИГОВСКИЙ
                .product__main-box
                  ul.product__list
                    li.product__list-item Вес.........................300 гр
                    li.product__list-item Калорийность........147 Ккал
                    li.product__list-item Белки......................3,3 г
                    li.product__list-item Жиры......................6,6 г
                    li.product__list-item Углеводы................20,1 г
              .product__footer
                .product__info
                  span.product__price 120 р
                  .counter
                    button.counter__btn(data-direction="minus")
                      +icon('minus', 'counter__icon')
                    input(value="1" disabled).counter__input
                    button.counter__btn(data-direction="plus")
                      +icon('plus', 'counter__icon')
                a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
            article.product.product--icon.product--icon-bestseller.catalog__product
              .product__head
                .product__head-slider
                  .product__head-slide.js-parent
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
                  .product__head-slide
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
              a(href="catalog-view.html").product__main
                h3.product__title КРЕМ-СУП СЫРНЫЙ
                .product__main-box
                  ul.product__list
                    li.product__list-item Вес.........................300 гр
                    li.product__list-item Калорийность........147 Ккал
                    li.product__list-item Белки......................3,3 г
                    li.product__list-item Жиры......................6,6 г
                    li.product__list-item Углеводы................20,1 г
              .product__footer
                .product__info
                  span.product__price 120 р
                  .counter
                    button.counter__btn(data-direction="minus")
                      +icon('minus', 'counter__icon')
                    input(value="1" disabled).counter__input
                    button.counter__btn(data-direction="plus")
                      +icon('plus', 'counter__icon')
                a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
            article.product.catalog__product
              .product__head
                .product__head-slider
                  .product__head-slide.js-parent
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
                  .product__head-slide
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
              a(href="catalog-view.html").product__main
                h3.product__title БОРЩ ЧЕРНИГОВСКИЙ
                .product__main-box
                  ul.product__list
                    li.product__list-item Вес.........................300 гр
                    li.product__list-item Калорийность........147 Ккал
                    li.product__list-item Белки......................3,3 г
                    li.product__list-item Жиры......................6,6 г
                    li.product__list-item Углеводы................20,1 г
              .product__footer
                .product__info
                  span.product__price 120 р
                  .counter
                    button.counter__btn(data-direction="minus")
                      +icon('minus', 'counter__icon')
                    input(value="1" disabled).counter__input
                    button.counter__btn(data-direction="plus")
                      +icon('plus', 'counter__icon')
                a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
            article.product.catalog__product
              .product__head
                .product__head-slider
                  .product__head-slide.js-parent
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
                  .product__head-slide
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
              a(href="catalog-view.html").product__main
                h3.product__title БОРЩ ЧЕРНИГОВСКИЙ
                .product__main-box
                  ul.product__list
                    li.product__list-item Вес.........................300 гр
                    li.product__list-item Калорийность........147 Ккал
                    li.product__list-item Белки......................3,3 г
                    li.product__list-item Жиры......................6,6 г
                    li.product__list-item Углеводы................20,1 г
              .product__footer
                .product__info
                  span.product__price 120 р
                  .counter
                    button.counter__btn(data-direction="minus")
                      +icon('minus', 'counter__icon')
                    input(value="1" disabled).counter__input
                    button.counter__btn(data-direction="plus")
                      +icon('plus', 'counter__icon')
                a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
            article.product.catalog__product
              .product__head
                .product__head-slider
                  .product__head-slide.js-parent
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
                  .product__head-slide
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
              a(href="catalog-view.html").product__main
                h3.product__title БОРЩ ЧЕРНИГОВСКИЙ
                .product__main-box
                  ul.product__list
                    li.product__list-item Вес.........................300 гр
                    li.product__list-item Калорийность........147 Ккал
                    li.product__list-item Белки......................3,3 г
                    li.product__list-item Жиры......................6,6 г
                    li.product__list-item Углеводы................20,1 г
              .product__footer
                .product__info
                  span.product__price 120 р
                  .counter
                    button.counter__btn(data-direction="minus")
                      +icon('minus', 'counter__icon')
                    input(value="1" disabled).counter__input
                    button.counter__btn(data-direction="plus")
                      +icon('plus', 'counter__icon')
                a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
            article.product.catalog__product
              .product__head
                .product__head-slider
                  .product__head-slide.js-parent
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
                  .product__head-slide
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
              a(href="catalog-view.html").product__main
                h3.product__title БОРЩ ЧЕРНИГОВСКИЙ
                .product__main-box
                  ul.product__list
                    li.product__list-item Вес.........................300 гр
                    li.product__list-item Калорийность........147 Ккал
                    li.product__list-item Белки......................3,3 г
                    li.product__list-item Жиры......................6,6 г
                    li.product__list-item Углеводы................20,1 г
              .product__footer
                .product__info
                  span.product__price 120 р
                  .counter
                    button.counter__btn(data-direction="minus")
                      +icon('minus', 'counter__icon')
                    input(value="1" disabled).counter__input
                    button.counter__btn(data-direction="plus")
                      +icon('plus', 'counter__icon')
                a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
            article.product.catalog__product
              .product__head
                .product__head-slider
                  .product__head-slide.js-parent
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
                  .product__head-slide
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
              a(href="catalog-view.html").product__main
                h3.product__title БОРЩ ЧЕРНИГОВСКИЙ
                .product__main-box
                  ul.product__list
                    li.product__list-item Вес.........................300 гр
                    li.product__list-item Калорийность........147 Ккал
                    li.product__list-item Белки......................3,3 г
                    li.product__list-item Жиры......................6,6 г
                    li.product__list-item Углеводы................20,1 г
              .product__footer
                .product__info
                  span.product__price 120 р
                  .counter
                    button.counter__btn(data-direction="minus")
                      +icon('minus', 'counter__icon')
                    input(value="1" disabled).counter__input
                    button.counter__btn(data-direction="plus")
                      +icon('plus', 'counter__icon')
                a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
            article.product.catalog__product
              .product__head
                .product__head-slider
                  .product__head-slide.js-parent
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
                  .product__head-slide
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
              a(href="catalog-view.html").product__main
                h3.product__title БОРЩ ЧЕРНИГОВСКИЙ
                .product__main-box
                  ul.product__list
                    li.product__list-item Вес.........................300 гр
                    li.product__list-item Калорийность........147 Ккал
                    li.product__list-item Белки......................3,3 г
                    li.product__list-item Жиры......................6,6 г
                    li.product__list-item Углеводы................20,1 г
              .product__footer
                .product__info
                  span.product__price 120 р
                  .counter
                    button.counter__btn(data-direction="minus")
                      +icon('minus', 'counter__icon')
                    input(value="1" disabled).counter__input
                    button.counter__btn(data-direction="plus")
                      +icon('plus', 'counter__icon')
                a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
            article.product.catalog__product
              .product__head
                .product__head-slider
                  .product__head-slide.js-parent
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
                  .product__head-slide
                    .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                      a(href="#catalog-view-1" data-fancybox).product__head-viewing
                        span.product__head-text Быстрый просмотр
                        +icon('search', 'product__head-viewing-icon')
                    +icon('heart', 'product__head-icon js-toggle')
              a(href="catalog-view.html").product__main
                h3.product__title БОРЩ ЧЕРНИГОВСКИЙ
                .product__main-box
                  ul.product__list
                    li.product__list-item Вес.........................300 гр
                    li.product__list-item Калорийность........147 Ккал
                    li.product__list-item Белки......................3,3 г
                    li.product__list-item Жиры......................6,6 г
                    li.product__list-item Углеводы................20,1 г
              .product__footer
                .product__info
                  span.product__price 120 р
                  .counter
                    button.counter__btn(data-direction="minus")
                      +icon('minus', 'counter__icon')
                    input(value="1" disabled).counter__input
                    button.counter__btn(data-direction="plus")
                      +icon('plus', 'counter__icon')
                a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
          button(type="button").catalog__btn.btn.btn--color-black.btn--bg-yellow ЗАГРУЗИТЬ ЕЩЕ
      .catalog__basket.basket
        .basket__head
          h2.basket__title.title.title--size-small.title--color-white КОРЗИНА
          +icon('save', 'basket__head-icon')
        .basket__main
          ul.basket__list
            li.basket__item
              .basket__item-top
                h3.basket__item-title Суп-лапша домашняя <br> с курицей
                +icon('close', 'basket__item-icon')
              .basket__item-bottom
                .basket__item-info
                  span.basket__item-text 350 гр.
                  span.basket__item-text 150 Ккал
                .counter.basket__counter
                  button.counter__btn(data-direction="minus")
                    +icon('minus', 'counter__icon')
                  input(value="1" disabled).counter__input
                  button.counter__btn(data-direction="plus")
                    +icon('plus', 'counter__icon')
                span.basket__price 150 р
            li.basket__item
              .basket__item-top
                h3.basket__item-title Треска отварная с <br> картофелем и соусом <br> из шпината
                +icon('close', 'basket__item-icon')
              .basket__item-bottom
                .basket__item-info
                  span.basket__item-text 350 гр.
                  span.basket__item-text 150 Ккал
                .counter.basket__counter
                  button.counter__btn(data-direction="minus")
                    +icon('minus', 'counter__icon')
                  input(value="1" disabled).counter__input
                  button.counter__btn(data-direction="plus")
                    +icon('plus', 'counter__icon')
                span.basket__price 120 р
            li.basket__item
              .basket__item-top
                h3.basket__item-title Суп-лапша домашняя <br> с курицей
                +icon('close', 'basket__item-icon')
              .basket__item-bottom
                .basket__item-info
                  span.basket__item-text 350 гр.
                  span.basket__item-text 150 Ккал
                .counter.basket__counter
                  button.counter__btn(data-direction="minus")
                    +icon('minus', 'counter__icon')
                  input(value="1" disabled).counter__input
                  button.counter__btn(data-direction="plus")
                    +icon('plus', 'counter__icon')
                span.basket__price 120 р

          .basket__info
            span.basket__info-text(data-text="1350 Ккал") Общая калорийность:
            span.basket__info-text(data-text="5%") Персональная скидка
            span.basket__info-text Цена без доставки
          .basket__desc
            span.basket__desc-text Минимальный заказ 1500р
            span.basket__desc-text.basket__desc-text--size-small.basket__desc-text--color-green Беслатная доставка от 2500 р
        .basket__footer
          .basket__total
            span.basket__total-price(data-price="390 р") Всего:
          a(href="#").basket__link.btn.btn--bg-yellow.btn--color-black ОФОРМИТЬ ЗАКАЗ
  include pages/catalog/history
  include pages/catalog/recommend
  include pages/catalog/info-block-1
  include pages/catalog/info-block-2
  include pages/catalog/catalog-view-1
