extends layout/main-page

block variables
    -var title = 'Доставка / оплата'

block header
  header.header
    .header__top
      .container
        .header__inner
          .header__info
            .logo(data-da="header__menu, 1, 500")
              a(href="index.html").logo__link
                img(src="static/images/common/logo.svg" alt="логотип").logo__image
            .header__icons
              a(href="tel:+74952239749").header__icons-link
                +icon('phone', 'header__icon')
                span.header__item-text +7 (495) 223-97-49
              a(href="mailto:info@vilon.ru").header__icons-link
                +icon('email', 'header__icon')
                span.header__item-text info@vilon.ru
          form(action="#").header__search
            input(type="text" placeholder="Поиск" required).header__search-input.input
            button(type="submit").header__search-btn
              +icon('search', 'header__search-icon')
          .header__request(data-da="header__menu, 1, 500")
            .header__request-icons
              a(href="#").header__request-link
                span.header__request-box(data-count="2").header__request-box--number
                  +icon('heart', 'header__request-icon')
              a(href="#" ).header__request-link
                span.header__request-box(data-count="2").header__request-box--number
                  +icon('basket', 'header__request-icon')
                span.header__request-text 10,500 р
              a(href="#").header__request-link.header__request-link--size-small
                span.header__request-box
                  +icon('user', 'header__request-icon')
                span.header__request-text Вход
            a(href="#" data-da="header__menu-list, last, 500").btn.btn--color-black.btn--bg-yellow.header__btn ОСТАВИТЬ ЗАЯВКУ
    .header__bottom.header__bottom--shadow
      .container
        nav.header__menu
          button(type="button").hamburger.hamburger--spring
            span.hamburger-box
              span.hamburger-inner
          ul.header__menu-list
            li.header__menu-item.header__menu-item--dropdown
              a(href="about.html").header__menu-link О компании
              +icon('arrow-down', 'header__menu-icon')
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="history.html").header__dropdown-link История
                li.header__dropdown-item
                  a(href="news.html").header__dropdown-link Новости
                li.header__dropdown-item
                  a(href="production.html").header__dropdown-link Производство
                li.header__dropdown-item
                  a(href="quality.html").header__dropdown-link Качество
                li.header__dropdown-item
                  a(href="awards.html").header__dropdown-link Наши награды
                li.header__dropdown-item
                  a(href="works.html").header__dropdown-link Вакансии
            li.header__menu-item.header__menu-item--dropdown
              a(href="cooperation.html").header__menu-link Сотрудничество
              +icon('arrow-down', 'header__menu-icon')
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="horeca.html").header__dropdown-link Horeca
                li.header__dropdown-item
                  a(href="suppliers.html").header__dropdown-link Поставщикам
                li.header__dropdown-item
                  a(href="distributors.html").header__dropdown-link Дистрибьютерам
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Вендинговые аппараты
            li.header__menu-item.header__menu-item--dropdown
              a(href="brands.html").header__menu-link Бренды
              +icon('arrow-down', 'header__menu-icon')
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="brands-view.html").header__dropdown-link Сытоедов
                li.header__dropdown-item
                  a(href="brands-view.html").header__dropdown-link Обожамс!
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Чебуречье
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Street Food
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Balansika
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Snack Bomb
            li.header__menu-item
              a(href="catalog.html").header__menu-link Магазин
              +icon('arrow-down', 'header__menu-icon')
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Завтраки
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Первые блюда
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Вторые блюда
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Постные блюда
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Жюльены
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Выпечка
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Снеки и чебуреки
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Полуфабрикаты
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Готовые рационы
            li.header__menu-item.header__menu-item--dropdown.header__menu-item--current
              a(href="buyers.html").header__menu-link Покупателям
              +icon('arrow-down', 'header__menu-icon')
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="stores.html").header__dropdown-link Где купить
                li.header__dropdown-item
                  a(href="order-steps.html").header__dropdown-link Как заказать
                li.header__dropdown-item
                  a(href="stock.html").header__dropdown-link Акции
                li.header__dropdown-item
                  a(href="faq.html").header__dropdown-link Вопрос / ответ
                li.header__dropdown-item
                  a(href="delivery.html").header__dropdown-link Доставка / оплата
                li.header__dropdown-item
                  a(href="warranty.html").header__dropdown-link Возврат товара
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Образцы документов
            li.header__menu-item.header__menu-item--dropdown
              a(href="vilon-life.html").header__menu-link Vilon Life
              +icon('arrow-down', 'header__menu-icon')
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="fact-1.html").header__dropdown-link Кулинарная школа
                li.header__dropdown-item
                  a(href="fact-2.html").header__dropdown-link Интересно про еду
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Правильное питание
            li.header__menu-item
              a(href="contacts.html").header__menu-link Контакты
    .header__submenu
      .container
        .header__submenu-inner
          a(href="#").header__submenu-link Где купить
          a(href="#").header__submenu-link Как заказать
          a(href="#").header__submenu-link Акции
          a(href="#").header__submenu-link Вопрос / ответ
          a(href="#").header__submenu-link.header__submenu-link--current Доставка / оплата
          a(href="#").header__submenu-link Возврат товара
          a(href="#").header__submenu-link Образцы документов
block breadcrumbs
  .breadcrumbs
    .container
      .breadcrumbs__inner
        a(href="index.html").breadcrumbs__link Главная
        a(href="#").breadcrumbs__link Покупателям
        a(href="#").breadcrumbs__link Доставка / оплата
block content
  section.delivery
    .container
      .delivery__info
        .delivery__info-col
          h2.delivery__title.title МКАД + 15 км
          span.delivery__subtitle минимальный заказ 1500&nbsp;р.
          h2.delivery__title.title МКАД + 50 км
          span.delivery__subtitle минимальный заказ 2500&nbsp;р.
        .delivery__info-col.delivery__info-col--center
          h2.delivery__title.delivery__title--icon.delivery__title--weight-black.delivery__title--color-japonica БЕСПЛАТНАЯ <br> ДОСТАВКА
          span.delivery__subtitle при заказе от <strong>2500</strong>&nbsp;р.
        .delivery__info-col
          h2.delivery__title.title ЗАКАЗ до 17:30
          span.delivery__subtitle доставка на следующий день
          h2.delivery__title.title ЗАКАЗ после 17:30
          span.delivery__subtitle доставка через 1 день
      .delivery.delivery--block
        .delivery__head
          h2.delivery__head-title.title.title--color-white РАСЧИТАТЬ ДОСТАВКУ
        form(action="#").delivery__form
          span.delivery__form-subtitle Введите название вашего населенного пункта:
          input(type="text" placeholder="Город / населенный пункт").input.delivery__form-input
          span.delivery__form-price(data-price="400 р") Доставка:
      .delivery__content
        h3.delivery__content-title.title ДОСТАВКА
        ul.delivery__content-items
          li.delivery__content-item • Доставка производится ежедневно с 09.00 до 18.00  ов. В день доставки водитель за 1 час до приезда позвонит, согласует точное время.
          li.delivery__content-item • Стоимость доставки — от 300 до 1500&nbsp;р. (в завиит зоны доставки, указанной на карте).
          li.delivery__content-item • Если есть ограничения на  ъезд во двор или на прилегающую парковку, сообщите об этом в комментарии к заказу.
          li.delivery__content-item • Все заказы доставляются силами собственной логической службы в специальных машинаххудованных изотермическим кузовом, позволяющих поддерживать необходимый температурный режим для замороженной продукции.
      .delivery__map
        .delivery__map-content
          .delivery__map-row
            .delivery__map-col
              h3.delivery__title 1 ЗОНА
              span.delivery__subtitle доставка 300&nbsp;р.
            .delivery__map-col
              h3.delivery__title 3 ЗОНА
              span.delivery__subtitle доставка 400&nbsp;р.
            .delivery__map-col
              h3.delivery__title 2 ЗОНА
              span.delivery__subtitle доставка 350&nbsp;р.
            .delivery__map-col
              h3.delivery__title 4 ЗОНА
              span.delivery__subtitle доставка 1500&nbsp;р.
          ul.delivery__map-items
            li.delivery__map-item
              strong.delivery__map-text.delivery__map-text--wieght-black ПН
              span.delivery__map-text Дмитров, Дубна, Сергиев-Посад, Владдая обл., Хотьково
            li.delivery__map-item
              strong.delivery__map-text.delivery__map-text--wieght-black ВТ
              span.delivery__map-text Тверь, Клин, Солнечногорск
            li.delivery__map-item
              strong.delivery__map-text.delivery__map-text--wieght-black СР
              span.delivery__map-text Орехово-Зуево, Павловский-Посад, Одинцово, Наро-Фоминск, Кубинка, Истра, Дедовск, Ликино-Дулево, Троицк, Звенигород
            li.delivery__map-item
              strong.delivery__map-text.delivery__map-text--wieght-black ЧТ
              span.delivery__map-text Климовск, Подольск, Кашира, Домодедово, Чехов, Серпухов, Ступино, Протвино, Пущино
            li.delivery__map-item
              strong.delivery__map-text.delivery__map-text--wieght-black ПТ
              span.delivery__map-text Коломна, Озеры, Воскресенск, Луховицы, Егорьевск, Зарайск
            li.delivery__map-item
              strong.delivery__map-text.delivery__map-text--wieght-black СБ
              span.delivery__map-text Одинцово, Наро-Фоминск, Кубинка, Истра, Дедовск, Ликино-Дулево, Троицк, Звенигород
            li.delivery__map-item
              strong.delivery__map-text.delivery__map-text--wieght-black ВС
              span.delivery__map-text Климовск, Подольск, Кашира, Домодедово, Чехов, Ярославль, Ступино, Протвино, Пущино
        .delivery__map-bg(style="background-image: url(static/images/content/delivery/delivery-map.jpg)")
      .delivery__content
        h3.delivery__content-title.title ОПЛАТА
        span.delivery__content-subtitle Возможные способы оплаты:
        .delivery__accordion
          .delivery__accordion-item
            h4.delivery__accordion-title Наличный расчет
              +icon('arrow-down', 'delivery__accordion-icon')
            .delivery__accordion-content
              p.delivery__accordion-text При получении заказ оплачивается водителю наличными. Если Вам необходима будет сдача, укажите это при оформлении заказа в комментариях или оператору по телефону.
          .delivery__accordion-item
            h4.delivery__accordion-title Безналичный расчет
              +icon('arrow-down', 'delivery__accordion-icon')
            .delivery__accordion-content
              p.delivery__accordion-text Действует только для юридических лиц и  одится путем перевода денежных средств на расчетный счет организации.
          .delivery__accordion-item
            h4.delivery__accordion-title Оплата банковской картой
              +icon('arrow-down', 'delivery__accordion-icon')
            .delivery__accordion-content
              p.delivery__accordion-text После оформления заказа через интернет-магазин и его подтверждения менеджером, Вы можете оплатить заказ через личный кабинет.
        p.delivery__content-text Цены, указанные на сайте, являются окончательными и не требуют доплат при стандартных условиях доставки. Все налоги включены в стоимость товара. <br> При получении к заказу прилагаются товарный и кассовый чеки. Если Вам необходимы дополнительные документы, их необходимо запросить при оформлениииаза в онлайн-магазине, сделав пометку в графе «Комментарий к заказу».
        h3.delivery__content-title.title ВОЗВРАТ ДЕНЕЖНЫХ СРЕДСТВ
        p.delivery__content-text В случае отказа покупателя от интернет-заказа (до получения товара покупателем), оплаченного банковской картой на сайте «Вилон», для возврата денежных средств покупателю необходимо написать и отправить заявление по почте по адресу:
        span.delivery__content-title.title.delivery__content-title--size-small 141102, Московская обл, город Щелково, район Щелковский, улица Поварская, владение 1
        p.delivery__content-text Возврат денежных средств производится на ваш банковский счёт в течении 5-30 рабочих дней (срок зависит от банка выпустившего вашу карту). Обращаем Ваше вниманно частичный отказ от заказа (вне зависимости от причины) невозможен – заказ возвращается полностью.
        h3.delivery__content-title.title СОГЛАШЕНИЕ НА ОБРАБОТКУ ЛИЧНЫХ ДАННЫХ
        p.delivery__content-text Присоединяясь к настоящему Соглашению и оставляя свои данные на сайте <a href="www.vilon.ru">www.vilon.ru</a> (далее – сайт))ем заполнения полей формы (оставления заявки) Пользователь:
        ul.delivery__content-items
          li.delivery__content-item • подтверждает, что все указанные им данные принадллжат лично ему;
          li.delivery__content-item • подтверждает и признает, что им внимательно в полном объеме прочитано Соглашение и условия обработки его персональных данных, указываемых им в полях формы (регистрации),,екст соглашения и условия обработки персональных данных ему понятны; дает согласие на обработку Сайтом предоставляемых в составе информации персональных данных в целях заключения между ним и Сайтом настоящего Соглашения, а также его последующего исполнения;
          li.delivery__content-item • дает согласие на передачу своих персональных данных партнерам мероприятий организатора;
          li.delivery__content-item • дает согласие на получение информационной рростях Сайта, в том числе анонсов статей, размещенных на Сайте и рекламных материалов от партнеров Сайта;
          li.delivery__content-item • выражает согласие с условиями обработки персональных данных.
        h3.delivery__content-title.title ПЕРЕДАЧА ДАННЫХ
        p.delivery__content-text Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платёжный шлюз ПАО СБЕРБАНК. Соединение с платёжным шлюзом и передача информации осуществляется в защищённом режиме с использованием протокола шифрования SSL. В случае если  банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa, MasterCard SecureCooAccept, J-Secure для проведения платежа также может потребоваться ввод специального пароля. Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальностььообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введённая информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платёжных систем МИР, Visa Int., MasterCard Eurr
        a(href="#").btn.btn--sectio.btn--color-black.btn--bg-yellow.delivery__link
          +icon('spoon', 'btn-icon')
          | НАДОЕЛО ГОТОВИТЬ? <br> ЖМИ!
          +icon('fork', 'btn-icon')
