extends layout/main

block variables
	-var title = 'Главная страница'

block content
	include pages/main/slider
	include pages/main/category
	include pages/main/recommend
	include pages/main/banner
	include pages/main/brands
	include pages/main/advantages
	include pages/main/application
	include pages/main/socials
