extends layout/main-page

block variables
    -var title = 'Поставщикам'

block header
  header.header
    .header__top
      .container
        .header__inner
          .header__info
            .logo(data-da="header__menu, 1, 500")
              a(href="index.html").logo__link
                img(src="static/images/common/logo.svg" alt="логотип").logo__image
            .header__icons
              a(href="tel:+74952239749").header__icons-link
                +icon('phone', 'header__icon')
                span.header__item-text +7 (495) 223-97-49
              a(href="mailto:info@vilon.ru").header__icons-link
                +icon('email', 'header__icon')
                span.header__item-text info@vilon.ru
          form(action="#").header__search
            input(type="text" placeholder="Поиск" required).header__search-input.input
            button(type="submit").header__search-btn
              +icon('search', 'header__search-icon')
          .header__request(data-da="header__menu, 1, 500")
            .header__request-icons
              a(href="#").header__request-link
                span.header__request-box(data-count="2").header__request-box--number
                  +icon('heart', 'header__request-icon')
              a(href="#" ).header__request-link
                span.header__request-box(data-count="2").header__request-box--number
                  +icon('basket', 'header__request-icon')
                span.header__request-text 10,500 р
              a(href="#").header__request-link.header__request-link--size-small
                span.header__request-box
                  +icon('user', 'header__request-icon')
                span.header__request-text Вход
            a(href="#" data-da="header__menu-list, last, 500").btn.btn--color-black.btn--bg-yellow.header__btn ОСТАВИТЬ ЗАЯВКУ
    .header__bottom.header__bottom--shadow
      .container
        nav.header__menu
          button(type="button").hamburger.hamburger--spring
            span.hamburger-box
              span.hamburger-inner
          ul.header__menu-list
            li.header__menu-item.header__menu-item--dropdown
              a(href="about.html").header__menu-link О компании
              +icon('arrow-down', 'header__menu-icon')
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="history.html").header__dropdown-link История
                li.header__dropdown-item
                  a(href="news.html").header__dropdown-link Новости
                li.header__dropdown-item
                  a(href="production.html").header__dropdown-link Производство
                li.header__dropdown-item
                  a(href="quality.html").header__dropdown-link Качество
                li.header__dropdown-item
                  a(href="awards.html").header__dropdown-link Наши награды
                li.header__dropdown-item
                  a(href="works.html").header__dropdown-link Вакансии
            li.header__menu-item.header__menu-item--dropdown.header__menu-item--current
              a(href="cooperation.html").header__menu-link Сотрудничество
              +icon('arrow-down', 'header__menu-icon')
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="horeca.html").header__dropdown-link Horeca
                li.header__dropdown-item
                  a(href="suppliers.html").header__dropdown-link Поставщикам
                li.header__dropdown-item
                  a(href="distributors.html").header__dropdown-link Дистрибьютерам
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Вендинговые аппараты
            li.header__menu-item.header__menu-item--dropdown
              a(href="brands.html").header__menu-link Бренды
              +icon('arrow-down', 'header__menu-icon')
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="brands-view.html").header__dropdown-link Сытоедов
                li.header__dropdown-item
                  a(href="brands-view.html").header__dropdown-link Обожамс!
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Чебуречье
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Street Food
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Balansika
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Snack Bomb
            li.header__menu-item
              a(href="catalog.html").header__menu-link Магазин
              +icon('arrow-down', 'header__menu-icon')
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Завтраки
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Первые блюда
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Вторые блюда
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Постные блюда
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Жюльены
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Выпечка
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Снеки и чебуреки
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Полуфабрикаты
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Готовые рационы
            li.header__menu-item.header__menu-item--dropdown
              a(href="buyers.html").header__menu-link Покупателям
              +icon('arrow-down', 'header__menu-icon')
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Где купить
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Как заказать
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Акции
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Вопрос / ответ
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Доставка / оплата
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Возврат товара
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Образцы документов
            li.header__menu-item.header__menu-item--dropdown
              a(href="vilon-life.html").header__menu-link Vilon Life
              +icon('arrow-down', 'header__menu-icon')
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Кулинарная школа
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Интересно про еду
                li.header__dropdown-item
                  a(href="#").header__dropdown-link Правильное питание
            li.header__menu-item
              a(href="contacts.html").header__menu-link Контакты
    .header__submenu
      .container
        .header__submenu-inner
          a(href="horeca.html").header__submenu-link Horeca
          a(href="suppliers.html").header__submenu-link.header__submenu-link--current Поставщикам
          a(href="distributors.html").header__submenu-link Дистрибьютерам
          a(href="#").header__submenu-link Вендинговые аппараты
block breadcrumbs
  .breadcrumbs
    .container
      .breadcrumbs__inner
        a(href="index.html").breadcrumbs__link Главная
        a(href="cooperation.html").breadcrumbs__link Сотрудничество
        a(href="suppliers.html").breadcrumbs__link Поставщикам
block content
  .info-block.info-block--padding-bottom.info-block--padding
    .container
      .info-block__steps
        .info-block__step
          strong.info-block__number 1
          h3.info-block__subtitle.title.title--size-small.title--color-japonica.title--wight-black ЗАПОЛНИ <br> ЗАЯВКУ
        .info-block__step
          strong.info-block__number 2
          h3.info-block__subtitle.title.title--size-small.title--color-japonica.title--wight-black ПОЛУЧИ <br> ПРЕДЛОЖЕНИЕ
        .info-block__step
          strong.info-block__number 3
          h3.info-block__subtitle.title.title--size-small.title--color-japonica.title--wight-black ЗАКЛЮЧИ <br> ДОГОВОР
      a(href="#").info-block__link.btn.btn--bg-yellow.btn--color-black ОСТАВИТЬ ЗАЯВКУ
  .info-block.info-block--padding-bottom
    .container
      h2.info-block__title.title ПОСТАВЩИКАМ
      p.info-block__text Торгово-промышленная компания «Вилон» заинтересована в развитии долгосрочных и выгодных отношений с поставщиками сырья и оборудования, предприятиями торговли и общественного питания. Мы ценим наших партнеров и стараемся создавать оптимальные и комфортные условия совместной работы.
  section.banner
    .banner__bg.lazy(data-src="static/images/content/bg/banner-bg.jpg")
      .container
        .banner__inner.banner__inner--height-small
          .banner__content
            h2.title.banner__title.title--wight-black.title--size-big.title--color-white СКАЧАЙ НАШ <br> КАТАЛОГ ТОВАРОВ
          a(href="#" download="#").btn.btn--color-black.btn--bg-yellow.banner__link СКАЧАТЬ
  .info-block
    .container
      h2.info-block__title.title ВОПРОСЫ И ПРЕДЛОЖЕНИЯ
      p.info-block__text Отдел продаж: <br> доб.тел.: 290, 183, 235, 204 эл. почта: zakaz@vilon.ru
      a(href="#").info-block__link.info-block__link--margin.btn.btn--bg-yellow.btn--color-black
        +icon('spoon', 'btn-icon')
        | НАДОЕЛО ГОТОВИТЬ? <br> ЖМИ!
        +icon('fork', 'btn-icon')