section.advantages
  .container
    .advantages__wrapper
      .section-top
        h2.section-top__title.title НАШИ ПРЕИМУЩЕСТВА
      .advantages__items
        .advantages__item
          img(src="static/images/content/advantages/advantages-icon-1.svg").advantages__item-icon
          span.advantages__item-text 1 тыс. тонн продукции отгружается ежемесячно
        .advantages__item
          img(src="static/images/content/advantages/advantages-icon-2.svg").advantages__item-icon
          span.advantages__item-text 2 площадки, сертифицированное производство
        .advantages__item
          img(src="static/images/content/advantages/advantages-icon-3.svg").advantages__item-icon
          span.advantages__item-text Основатель категории замороженных <br> блюд
        .advantages__item
          img(src="static/images/content/advantages/advantages-icon-4.svg").advantages__item-icon
          span.advantages__item-text 26 лет <br> успешной <br> работы
        .advantages__item
          img(src="static/images/content/advantages/advantages-icon-5.svg").advantages__item-icon
          span.advantages__item-text Более 40 автомобилей в собственном автопарке
