section.banner
  .container
    .section-top
      h2.section-top__title.title Н1
      span.section-top__desc Образец текста
  .banner__bg(style="background-image: url(static/images/content/bg/banner-bg.jpg)")
    .container
      .banner__inner
        .banner__content
          h2.title.banner__title.title--wight-bold.title--size-big.title--color-white ХОЧЕШЬ ЗНАТЬ <br> ВСЕ О&nbsp;ЕДЕ?
          span.banner__subtitle Соверши путешествие в мир кулинарии с <i>Vilon Life</i>
        a(href="#").btn.btn--color-black.btn--bg-yellow.banner__link Vilon Life
