section.brands
  .container
    .section-top
      h2.section-top__title.title НАШИ БРЕНДЫ
    .brands__inner
      a(href="#").brands__link
        img(src="static/images/common/loader.gif" data-src="static/images/content/brands/logo-balansika.jpg" alt="").brands__image.lazy
      a(href="#").brands__link
        img(src="static/images/common/loader.gif" data-src="static/images/content/brands/logo-cheburechie.jpg" alt="").brands__image.lazy
      a(href="#").brands__link
        img(src="static/images/common/loader.gif" data-src="static/images/content/brands/logo-obojams.jpg" alt="").brands__image.lazy
      a(href="#").brands__link
        img(src="static/images/common/loader.gif" data-src="static/images/content/brands/logo-sitoedov.jpg" alt="").brands__image.lazy
      a(href="#").brands__link
        img(src="static/images/common/loader.gif" data-src="static/images/content/brands/logo-snackbomb.jpg" alt="").brands__image.lazy
      a(href="#").brands__link
        img(src="static/images/common/loader.gif" data-src="static/images/content/brands/logo-streetfood.jpg" alt="").brands__image.lazy
