section.category
  .container-fluid
    .category__slider(data-space="7.5")
      .category__slide
        a(href="#" style="background-image: url(static/images/content/category/category-1.jpg)").category__box
          .category__box-top
            h3.category__box-title.title--color-white.title.title--size-small ЗАВТРАКИ
          button(type="button").btn.btn--color-white.btn--bg-pink.category__box-btn КУПИТЬ
      .category__slide
        a(href="#" style="background-image: url(static/images/content/category/category-2.jpg)").category__box
          .category__box-top
            h3.category__box-title.title--color-white.title.title--size-small ПЕРВЫЕ <br> БЛЮДА
          button(type="button").btn.btn--color-white.btn--bg-pink.category__box-btn КУПИТЬ
      .category__slide
        a(href="#" style="background-image: url(static/images/content/category/category-3.jpg)").category__box
          .category__box-top
            h3.category__box-title.title--color-white.title.title--size-small ВТОРЫЕ <br> БЛЮДА
          button(type="button").btn.btn--color-white.btn--bg-pink.category__box-btn КУПИТЬ
      .category__slide
        a(href="#" style="background-image: url(static/images/content/category/category-4.jpg)").category__box
          .category__box-top
            h3.category__box-title.title--color-white.title.title--size-small СНЕКИ <br> ЧЕБУРЕКИ
          button(type="button").btn.btn--color-white.btn--bg-pink.category__box-btn КУПИТЬ
      .category__slide
        a(href="#" style="background-image: url(static/images/content/category/category-5.jpg)").category__box
          .category__box-top
            h3.category__box-title.title--color-white.title.title--size-small ГОТОВЫЕ <br> РАЦИОНЫ
          button(type="button").btn.btn--color-white.btn--bg-pink.category__box-btn КУПИТЬ
      .category__slide
        a(href="#" style="background-image: url(static/images/content/category/category-6.jpg)").category__box
          .category__box-top
            h3.category__box-title.title--color-white.title.title--size-small ПОЛУФАБРИКАТЫ
          button(type="button").btn.btn--color-white.btn--bg-pink.category__box-btn КУПИТЬ
      .category__slide
        a(href="#" style="background-image: url(static/images/content/category/category-7.jpg)").category__box
          .category__box-top
            h3.category__box-title.title--color-white.title.title--size-small ВЫПЕЧКА
          button(type="button").btn.btn--color-white.btn--bg-pink.category__box-btn КУПИТЬ
      .category__slide
        a(href="#" style="background-image: url(static/images/content/category/category-8.jpg)").category__box
          .category__box-top
            h3.category__box-title.title--color-white.title.title--size-small ЖЮЛЬЕНЫ
          button(type="button").btn.btn--color-white.btn--bg-pink.category__box-btn КУПИТЬ
