section.recommend
  .container
    .section-top
      h2.section-top__title.title РЕКОМЕНДУЕМ ПОПРОБОВАТЬ
  .recommend__slider
    .recommend__slide
      article.product
        .product__head
          .product__head-slider
            .product__head-slide.js-parent
              .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                a(href="#catalog-view-1" data-fancybox).product__head-viewing
                  span.product__head-text Быстрый просмотр
                  +icon('search', 'product__head-viewing-icon')
              +icon('heart', 'product__head-icon js-toggle')
            .product__head-slide
              .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                a(href="#catalog-view-1" data-fancybox).product__head-viewing
                  span.product__head-text Быстрый просмотр
                  +icon('search', 'product__head-viewing-icon')
              +icon('heart', 'product__head-icon js-toggle')
        a(href="#").product__main
          h3.product__title БОРЩ ЧЕРНИГОВСКИЙ
          .product__main-box
            ul.product__list
              li.product__list-item Вес.........................300 гр
              li.product__list-item Калорийность........147 Ккал
              li.product__list-item Белки......................3,3 г
              li.product__list-item Жиры......................6,6 г
              li.product__list-item Углеводы................20,1 г
        .product__footer
          .product__info
            span.product__price 120 р
            .counter
              button.counter__btn(data-direction="minus")
                +icon('minus', 'counter__icon')
              input(value="1" disabled).counter__input
              button.counter__btn(data-direction="plus")
                +icon('plus', 'counter__icon')
          a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
    .recommend__slide
      article.product
        .product__head
          .product__head-slider
            .product__head-slide.js-parent
              .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                a(href="#catalog-view-1" data-fancybox).product__head-viewing
                  span.product__head-text Быстрый просмотр
                  +icon('search', 'product__head-viewing-icon')
              +icon('heart', 'product__head-icon js-toggle')
            .product__head-slide
              .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                a(href="#catalog-view-1" data-fancybox).product__head-viewing
                  span.product__head-text Быстрый просмотр
                  +icon('search', 'product__head-viewing-icon')
              +icon('heart', 'product__head-icon js-toggle')
        a(href="#").product__main
          h3.product__title ТРЕСКА ОТВАРНАЯ С КАРТОФЕЛЕМ И СОУСОМ ИЗ ШПИНАТА
          .product__main-box
            ul.product__list
              li.product__list-item Вес.........................300 гр
              li.product__list-item Калорийность........147 Ккал
              li.product__list-item Белки......................3,3 г
              li.product__list-item Жиры......................6,6 г
              li.product__list-item Углеводы................20,1 г
        .product__footer
          .product__info
            span.product__price 120 р
            .counter
              button.counter__btn(data-direction="minus")
                +icon('minus', 'counter__icon')
              input(value="1" disabled).counter__input
              button.counter__btn(data-direction="plus")
                +icon('plus', 'counter__icon')
          a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
    .recommend__slide
      article.product
        .product__head
          .product__head-slider
            .product__head-slide.js-parent
              .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                a(href="#catalog-view-1" data-fancybox).product__head-viewing
                  span.product__head-text Быстрый просмотр
                  +icon('search', 'product__head-viewing-icon')
              +icon('heart', 'product__head-icon js-toggle')
            .product__head-slide
              .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                a(href="#catalog-view-1" data-fancybox).product__head-viewing
                  span.product__head-text Быстрый просмотр
                  +icon('search', 'product__head-viewing-icon')
              +icon('heart', 'product__head-icon js-toggle')
        a(href="#").product__main
          h3.product__title СУП-ЛАПША ДОМАШНЯЯ С КУРИЦЕЙ
          .product__main-box
            ul.product__list
              li.product__list-item Вес.........................300 гр
              li.product__list-item Калорийность........147 Ккал
              li.product__list-item Белки......................3,3 г
              li.product__list-item Жиры......................6,6 г
              li.product__list-item Углеводы................20,1 г
        .product__footer
          .product__info
            span.product__price 120 р
            .counter
              button.counter__btn(data-direction="minus")
                +icon('minus', 'counter__icon')
              input(value="1" disabled).counter__input
              button.counter__btn(data-direction="plus")
                +icon('plus', 'counter__icon')
          a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
    .recommend__slide
      article.product
        .product__head
          .product__head-slider
            .product__head-slide.js-parent
              .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                a(href="#catalog-view-1" data-fancybox).product__head-viewing
                  span.product__head-text Быстрый просмотр
                  +icon('search', 'product__head-viewing-icon')
              +icon('heart', 'product__head-icon js-toggle')
            .product__head-slide
              .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                a(href="#catalog-view-1" data-fancybox).product__head-viewing
                  span.product__head-text Быстрый просмотр
                  +icon('search', 'product__head-viewing-icon')
              +icon('heart', 'product__head-icon js-toggle')
        a(href="#").product__main
          h3.product__title КРЕМ-СУП СЫРНЫЙ
          .product__main-box
            ul.product__list
              li.product__list-item Вес.........................300 гр
              li.product__list-item Калорийность........147 Ккал
              li.product__list-item Белки......................3,3 г
              li.product__list-item Жиры......................6,6 г
              li.product__list-item Углеводы................20,1 г
        .product__footer
          .product__info
            span.product__price 120 р
            .counter
              button.counter__btn(data-direction="minus")
                +icon('minus', 'counter__icon')
              input(value="1" disabled).counter__input
              button.counter__btn(data-direction="plus")
                +icon('plus', 'counter__icon')
          a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
    .recommend__slide
      article.product
        .product__head
          .product__head-slider
            .product__head-slide.js-parent
              .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                a(href="#catalog-view-1" data-fancybox).product__head-viewing
                  span.product__head-text Быстрый просмотр
                  +icon('search', 'product__head-viewing-icon')
              +icon('heart', 'product__head-icon js-toggle')
            .product__head-slide
              .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                a(href="#catalog-view-1" data-fancybox).product__head-viewing
                  span.product__head-text Быстрый просмотр
                  +icon('search', 'product__head-viewing-icon')
              +icon('heart', 'product__head-icon js-toggle')
        a(href="#").product__main
          h3.product__title БОРЩ ЧЕРНИГОВСКИЙ
          .product__main-box
            ul.product__list
              li.product__list-item Вес.........................300 гр
              li.product__list-item Калорийность........147 Ккал
              li.product__list-item Белки......................3,3 г
              li.product__list-item Жиры......................6,6 г
              li.product__list-item Углеводы................20,1 г
        .product__footer
          .product__info
            span.product__price 120 р
            .counter
              button.counter__btn(data-direction="minus")
                +icon('minus', 'counter__icon')
              input(value="1" disabled).counter__input
              button.counter__btn(data-direction="plus")
                +icon('plus', 'counter__icon')
          a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
    .recommend__slide
      article.product
        .product__head
          .product__head-slider
            .product__head-slide.js-parent
              .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                a(href="#catalog-view-1" data-fancybox).product__head-viewing
                  span.product__head-text Быстрый просмотр
                  +icon('search', 'product__head-viewing-icon')
              +icon('heart', 'product__head-icon js-toggle')
            .product__head-slide
              .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                a(href="#catalog-view-1" data-fancybox).product__head-viewing
                  span.product__head-text Быстрый просмотр
                  +icon('search', 'product__head-viewing-icon')
              +icon('heart', 'product__head-icon js-toggle')
        a(href="#").product__main
          h3.product__title ТРЕСКА ОТВАРНАЯ С КАРТОФЕЛЕМ И СОУСОМ ИЗ ШПИНАТА
          .product__main-box
            ul.product__list
              li.product__list-item Вес.........................300 гр
              li.product__list-item Калорийность........147 Ккал
              li.product__list-item Белки......................3,3 г
              li.product__list-item Жиры......................6,6 г
              li.product__list-item Углеводы................20,1 г
        .product__footer
          .product__info
            span.product__price 120 р
            .counter
              button.counter__btn(data-direction="minus")
                +icon('minus', 'counter__icon')
              input(value="1" disabled).counter__input
              button.counter__btn(data-direction="plus")
                +icon('plus', 'counter__icon')
          a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
    .recommend__slide
      article.product
        .product__head
          .product__head-slider
            .product__head-slide.js-parent
              .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                a(href="#catalog-view-1" data-fancybox).product__head-viewing
                  span.product__head-text Быстрый просмотр
                  +icon('search', 'product__head-viewing-icon')
              +icon('heart', 'product__head-icon js-toggle')
            .product__head-slide
              .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                a(href="#catalog-view-1" data-fancybox).product__head-viewing
                  span.product__head-text Быстрый просмотр
                  +icon('search', 'product__head-viewing-icon')
              +icon('heart', 'product__head-icon js-toggle')
        a(href="#").product__main
          h3.product__title СУП-ЛАПША ДОМАШНЯЯ С КУРИЦЕЙ
          .product__main-box
            ul.product__list
              li.product__list-item Вес.........................300 гр
              li.product__list-item Калорийность........147 Ккал
              li.product__list-item Белки......................3,3 г
              li.product__list-item Жиры......................6,6 г
              li.product__list-item Углеводы................20,1 г
        .product__footer
          .product__info
            span.product__price 120 р
            .counter
              button.counter__btn(data-direction="minus")
                +icon('minus', 'counter__icon')
              input(value="1" disabled).counter__input
              button.counter__btn(data-direction="plus")
                +icon('plus', 'counter__icon')
          a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
    .recommend__slide
      article.product
        .product__head
          .product__head-slider
            .product__head-slide.js-parent
              .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                a(href="#catalog-view-1" data-fancybox).product__head-viewing
                  span.product__head-text Быстрый просмотр
                  +icon('search', 'product__head-viewing-icon')
              +icon('heart', 'product__head-icon js-toggle')
            .product__head-slide
              .product__head-image(data-src="static/images/content/category/category-2.jpg").lazy
                a(href="#catalog-view-1" data-fancybox).product__head-viewing
                  span.product__head-text Быстрый просмотр
                  +icon('search', 'product__head-viewing-icon')
              +icon('heart', 'product__head-icon js-toggle')
        a(href="#").product__main
          h3.product__title КРЕМ-СУП СЫРНЫЙ
          .product__main-box
            ul.product__list
              li.product__list-item Вес.........................300 гр
              li.product__list-item Калорийность........147 Ккал
              li.product__list-item Белки......................3,3 г
              li.product__list-item Жиры......................6,6 г
              li.product__list-item Углеводы................20,1 г
        .product__footer
          .product__info
            span.product__price 120 р
            .counter
              button.counter__btn(data-direction="minus")
                +icon('minus', 'counter__icon')
              input(value="1" disabled).counter__input
              button.counter__btn(data-direction="plus")
                +icon('plus', 'counter__icon')
          a(href="#").product__btn.btn.btn--bg-green.btn--color-white В КОРЗИНУ
