section.slider
  .slider__carousel
    .slider__bg(style="background-image: url(static/images/content/bg/slider-bg-1.jpg)")
      .container
        .slider__inner
          h1.slider__title.slider__title--size-big ДОСТАВКА
          h2.slider__title.slider__title--size-small.slider__title--bg-white ГОТОВОЙ ЕДЫ
          span.slider__subtitle ОТ ПРОИЗВОДИТЕЛЯ БЕЗ ПОСРЕДНИКОВ
          a(href="#").btn.btn--bg-yellow.btn--color-black.slider__link В МАГАЗИН
    .slider__bg(style="background-image: url(static/images/content/bg/slider-bg-1.jpg)")
      .container
        .slider__inner
          h1.slider__title.slider__title--size-big ДОСТАВКА
          h2.slider__title.slider__title--size-small.slider__title--bg-white ГОТОВОЙ ЕДЫ
          span.slider__subtitle ОТ ПРОИЗВОДИТЕЛЯ БЕЗ ПОСРЕДНИКОВ
          a(href="#").btn.btn--bg-yellow.btn--color-black.slider__link В МАГАЗИН
    .slider__bg(style="background-image: url(static/images/content/bg/slider-bg-1.jpg)")
      .container
        .slider__inner
          h1.slider__title.slider__title--size-big ДОСТАВКА
          h2.slider__title.slider__title--size-small.slider__title--bg-white ГОТОВОЙ ЕДЫ
          span.slider__subtitle ОТ ПРОИЗВОДИТЕЛЯ БЕЗ ПОСРЕДНИКОВ
          a(href="#").btn.btn--bg-yellow.btn--color-black.slider__link В МАГАЗИН
    .slider__bg(style="background-image: url(static/images/content/bg/slider-bg-1.jpg)")
      .container
        .slider__inner
          h1.slider__title.slider__title--size-big ДОСТАВКА
          h2.slider__title.slider__title--size-small.slider__title--bg-white ГОТОВОЙ ЕДЫ
          span.slider__subtitle ОТ ПРОИЗВОДИТЕЛЯ БЕЗ ПОСРЕДНИКОВ
          a(href="#").btn.btn--bg-yellow.btn--color-black.slider__link В МАГАЗИН
    .slider__bg(style="background-image: url(static/images/content/bg/slider-bg-1.jpg)")
      .container
        .slider__inner
          h1.slider__title.slider__title--size-big ДОСТАВКА
          h2.slider__title.slider__title--size-small.slider__title--bg-white ГОТОВОЙ ЕДЫ
          span.slider__subtitle ОТ ПРОИЗВОДИТЕЛЯ БЕЗ ПОСРЕДНИКОВ
          a(href="#").btn.btn--bg-yellow.btn--color-black.slider__link В МАГАЗИН

