section.socials
  .socials__bg(data-src="static/images/content/bg/socials-bg.jpg").lazy
    .container
      .socials__wrapper
        .socials__content
          .socials__top
            h2.socials__title.title.title--size-big.title--wight-bold Присоединяйся к&nbsp;нам в&nbsp;социальных сетях
            span.socials__subtitle Будь в курсе наших акций и новостей!
          .socials__icons
            a(href="#").socials__link
              img(data-src="static/images/common/vk.svg").socials__icon.lazy
            a(href="#").socials__link
              img(data-src="static/images/common/facebook.svg").socials__icon.lazy
            a(href="#").socials__link
              img(data-src="static/images/common/instagram.svg").socials__icon.lazy
            a(href="#").socials__link
              img(data-src="static/images/common/z.svg").socials__icon.lazy
            a(href="#").socials__link
              img(data-src="static/images/common/ok.svg").socials__icon.lazy
            a(href="#").socials__link
              img(data-src="static/images/common/youtube.svg").socials__icon.lazy
