section.socials
  .socials__bg(style="background-image: url(static/images/content/bg/socials-bg.jpg)")
    .container
      .socials__wrapper
        .socials__content
          .socials__top
            h2.socials__title.title.title--size-big.title--wight-bold Присоединяйся к нам в социальных сетям
            span.socials__subtitle Будь в курсе наших акций и новостей!
          .socials__icons
            a(href="#").socials__link
              img(src="static/images/common/vk.svg").socials__icon
            a(href="#").socials__link
              img(src="static/images/common/facebook.svg").socials__icon
            a(href="#").socials__link
              img(src="static/images/common/instagram.svg").socials__icon
            a(href="#").socials__link
              img(src="static/images/common/z.svg").socials__icon
            a(href="#").socials__link
              img(src="static/images/common/ok.svg").socials__icon
            a(href="#").socials__link
              img(src="static/images/common/youtube.svg").socials__icon
