.advantages {
  margin-bottom: 40px;
  overflow-x: hidden;
  &--is {
    &-margin {
      margin-bottom: 0;
    }
  }
  &__wrapper {
    background-color: #f2ecdf;
    padding-top: 35px;
    &--margin {
      margin-left: -40px;
      margin-right: -40px;
    }
  }
  &__item {
    max-width: 175px;
    width: 100%;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 30px;
    &:last-child {
      margin-right: 0;
    }
    &-title {
      font-weight: 700;
      margin-bottom: -5px;
      font-size: 16px;
    }
    &-icon {
      fill: #518E4B;
      max-width: 120px;
      max-height: 115px;
      margin-bottom: 7px;
    }
    &-text {
      display: block;
      font-size: 16px;
      line-height: 18px;
      color: #2e804b;
      margin-top: 5px;
      &--color {
        &-black {
          color: #000;
        }
      }
    }
  }
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 40px;
    padding-right: 40px;
    &--center {
      justify-content: center;
    }
  }
}
