section.intro
  .intro__bg(style="background-image: url(static/images/content/intro/intro-bg.jpg)")
    .container
      .intro__slider
        .intro__slide
          .intro__box
            h2.intro__title.title.title--color-white очень полезные виды мяса
            a(href="#").intro__link.btn.btn--color-white.btn--bg-green Подробнее
          a(href="static/images/content/intro/intro-image-1.jpg" rel="zoom-width: 400;zoom-height: 200;").MagicZoomPlus
            img(data-lazy="static/images/content/intro/intro-image-1.jpg" alt="").intro__image
        .intro__slide
          .intro__box
            h2.intro__title.title.title--color-white очень полезные виды мяса
            a(href="#").intro__link.btn.btn--color-white.btn--bg-green Подробнее
          img(data-lazy="static/images/content/intro/intro-image-1.jpg" alt="").intro__image
        .intro__slide
          .intro__box
            h2.intro__title.title.title--color-white очень полезные виды мяса
            a(href="#").intro__link.btn.btn--color-white.btn--bg-green Подробнее
          img(data-lazy="static/images/content/intro/intro-image-1.jpg" alt="").intro__image
        .intro__slide
          .intro__box
            h2.intro__title.title.title--color-white очень полезные виды мяса
            a(href="#").intro__link.btn.btn--color-white.btn--bg-green Подробнее
          img(data-lazy="static/images/content/intro/intro-image-1.jpg" alt="").intro__image
        .intro__slide
          .intro__box
            h2.intro__title.title.title--color-white очень полезные виды мяса
            a(href="#").intro__link.btn.btn--color-white.btn--bg-green Подробнее
          img(data-lazy="static/images/content/intro/intro-image-1.jpg" alt="").intro__image