section.news.news--bg-ecruwhite
  .container
    .section-top
      h2.section-top__title.title ИНТЕРЕСНО ПРО ЕДУ
  .container-fluid
    .news__slider
      .news__slide
        article.article
          .article__head(style="background-image: url(static/images/common/example-2.jpg)")
            a(href="#").article__head-search
              span.article__head-text Быстрый просмотр
              +icon('search', 'article__head-icon')
          .article__body
            a(href="#").article__body-title ЗАГОЛОВОК СТРОЧКА ПЕРВАЯ ВТОРАЯ СТРОЧКА ЗАГОЛОВКА
            .article__body-info
              time(datetime="01.02.2020").article__body-day 01.02.2020
              .article__body-statistics
                span.article__body-statistic
                  +icon('eye', 'article__body-icon')
                  span 1025
                span.article__body-statistic.js-like
                  +icon('like', 'article__body-icon')
                  span 1025
          .article__footer
            a(href="#").article__footer-link.btn.btn--color-white.btn--bg-green ЧИТАТЬ

      .news__slide
        article.article
          .article__head(style="background-image: url(static/images/common/example-2.jpg)")
            a(href="#").article__head-search
              span.article__head-text Быстрый просмотр
              +icon('search', 'article__head-icon')
          .article__body
            a(href="#").article__body-title ЗАГОЛОВОК СТРОЧКА ПЕРВАЯ ВТОРАЯ СТРОЧКА ЗАГОЛОВКА
            .article__body-info
              time(datetime="01.02.2020").article__body-day 01.02.2020
              .article__body-statistics
                span.article__body-statistic
                  +icon('eye', 'article__body-icon')
                  span 1025
                span.article__body-statistic.js-like
                  +icon('like', 'article__body-icon')
                  span 1025
          .article__footer
            a(href="#").article__footer-link.btn.btn--color-white.btn--bg-green ЧИТАТЬ

      .news__slide
        article.article
          .article__head(style="background-image: url(static/images/common/example-2.jpg)")
            a(href="#").article__head-search
              span.article__head-text Быстрый просмотр
              +icon('search', 'article__head-icon')
          .article__body
            a(href="#").article__body-title ЗАГОЛОВОК СТРОЧКА ПЕРВАЯ ВТОРАЯ СТРОЧКА ЗАГОЛОВКА
            .article__body-info
              time(datetime="01.02.2020").article__body-day 01.02.2020
              .article__body-statistics
                span.article__body-statistic
                  +icon('eye', 'article__body-icon')
                  span 1025
                span.article__body-statistic.js-like
                  +icon('like', 'article__body-icon')
                  span 1025
          .article__footer
            a(href="#").article__footer-link.btn.btn--color-white.btn--bg-green ЧИТАТЬ

      .news__slide
        article.article
          .article__head(style="background-image: url(static/images/common/example-2.jpg)")
            a(href="#").article__head-search
              span.article__head-text Быстрый просмотр
              +icon('search', 'article__head-icon')
          .article__body
            a(href="#").article__body-title ЗАГОЛОВОК СТРОЧКА ПЕРВАЯ ВТОРАЯ СТРОЧКА ЗАГОЛОВКА
            .article__body-info
              time(datetime="01.02.2020").article__body-day 01.02.2020
              .article__body-statistics
                span.article__body-statistic
                  +icon('eye', 'article__body-icon')
                  span 1025
                span.article__body-statistic.js-like
                  +icon('like', 'article__body-icon')
                  span 1025
          .article__footer
            a(href="#").article__footer-link.btn.btn--color-white.btn--bg-green ЧИТАТЬ

      .news__slide
        article.article
          .article__head(style="background-image: url(static/images/common/example-2.jpg)")
            a(href="#").article__head-search
              span.article__head-text Быстрый просмотр
              +icon('search', 'article__head-icon')
          .article__body
            a(href="#").article__body-title ЗАГОЛОВОК СТРОЧКА ПЕРВАЯ ВТОРАЯ СТРОЧКА ЗАГОЛОВКА
            .article__body-info
              time(datetime="01.02.2020").article__body-day 01.02.2020
              .article__body-statistics
                span.article__body-statistic
                  +icon('eye', 'article__body-icon')
                  span 1025
                span.article__body-statistic.js-like
                  +icon('like', 'article__body-icon')
                  span 1025
          .article__footer
            a(href="#").article__footer-link.btn.btn--color-white.btn--bg-green ЧИТАТЬ

      .news__slide
        article.article
          .article__head(style="background-image: url(static/images/common/example-2.jpg)")
            a(href="#").article__head-search
              span.article__head-text Быстрый просмотр
              +icon('search', 'article__head-icon')
          .article__body
            a(href="#").article__body-title ЗАГОЛОВОК СТРОЧКА ПЕРВАЯ ВТОРАЯ СТРОЧКА ЗАГОЛОВКА
            .article__body-info
              time(datetime="01.02.2020").article__body-day 01.02.2020
              .article__body-statistics
                span.article__body-statistic
                  +icon('eye', 'article__body-icon')
                  span 1025
                span.article__body-statistic.js-like
                  +icon('like', 'article__body-icon')
                  span 1025
          .article__footer
            a(href="#").article__footer-link.btn.btn--color-white.btn--bg-green ЧИТАТЬ