section.recipes
  .container
    .section-top
      h2.section-top__title.title КУЛИНАРНАЯ ШКОЛА
    .recipes__inner
      .recipes__item
        a(href="#" style="background-image: url(static/images/common/example-1.jpg)").recipes__item-image
        .recipes__item-info
          a(href="#").recipes__item-title РАССОЛЬНИК
          span.recipes__item-text Наваристый, сытный и любимыытства рассольник, приготовленный из знакомых продуктов.
        .recipes__item-col
          a(href="#").recipes__item-link.btn.btn--bg-pink.btn--color-white готовить
          .recipes__item-statistics
            span.recipes__item-statistic
              +icon('eye', 'recipes__item-icon')
              span 1025
            span.recipes__item-statistic.js-like
              +icon('like', 'recipes__item-icon')
              span 1025
      .recipes__item
        a(href="#" style="background-image: url(static/images/common/example-1.jpg)").recipes__item-image
        .recipes__item-info
          a(href="#").recipes__item-title РАССОЛЬНИК
          span.recipes__item-text Наваристый, сытный и любимыытства рассольник, приготовленный из знакомых продуктов.
        .recipes__item-col
          a(href="#").recipes__item-link.btn.btn--bg-pink.btn--color-white готовить
          .recipes__item-statistics
            span.recipes__item-statistic
              +icon('eye', 'recipes__item-icon')
              | 1025
            span.recipes__item-statistic.js-like
              +icon('like', 'recipes__item-icon')
              | 1025
      .recipes__item
        a(href="#" style="background-image: url(static/images/common/example-1.jpg)").recipes__item-image
        .recipes__item-info
          a(href="#").recipes__item-title РАССОЛЬНИК
          span.recipes__item-text Наваристый, сытный и любимыытства рассольник, приготовленный из знакомых продуктов.
        .recipes__item-col
          a(href="#").recipes__item-link.btn.btn--bg-pink.btn--color-white готовить
          .recipes__item-statistics
            span.recipes__item-statistic
              +icon('eye', 'recipes__item-icon')
              span 1025
            span.recipes__item-statistic.js-like
              +icon('like', 'recipes__item-icon')
              span 1025
      .recipes__item
        a(href="#" style="background-image: url(static/images/common/example-1.jpg)").recipes__item-image
        .recipes__item-info
          a(href="#").recipes__item-title РАССОЛЬНИК
          span.recipes__item-text Наваристый, сытный и любимыытства рассольник, приготовленный из знакомых продуктов.
        .recipes__item-col
          a(href="#").recipes__item-link.btn.btn--bg-pink.btn--color-white готовить
          .recipes__item-statistics
            span.recipes__item-statistic
              +icon('eye', 'recipes__item-icon')
              | 1025
            span.recipes__item-statistic.js-like
              +icon('like', 'recipes__item-icon')
              | 1025
      .recipes__item
        a(href="#" style="background-image: url(static/images/common/example-1.jpg)").recipes__item-image
        .recipes__item-info
          a(href="#").recipes__item-title РАССОЛЬНИК
          span.recipes__item-text Наваристый, сытный и любимыытства рассольник, приготовленный из знакомых продуктов.
        .recipes__item-col
          a(href="#").recipes__item-link.btn.btn--bg-pink.btn--color-white готовить
          .recipes__item-statistics
            span.recipes__item-statistic
              +icon('eye', 'recipes__item-icon')
              span 1025
            span.recipes__item-statistic.js-like
              +icon('like', 'recipes__item-icon')
              span 1025
      .recipes__item
        a(href="#" style="background-image: url(static/images/common/example-1.jpg)").recipes__item-image
        .recipes__item-info
          a(href="#").recipes__item-title РАССОЛЬНИК
          span.recipes__item-text Наваристый, сытный и любимыытства рассольник, приготовленный из знакомых продуктов.
        .recipes__item-col
          a(href="#").recipes__item-link.btn.btn--bg-pink.btn--color-white готовить
          .recipes__item-statistics
            span.recipes__item-statistic
              +icon('eye', 'recipes__item-icon')
              | 1025
            span.recipes__item-statistic.js-like
              +icon('like', 'recipes__item-icon')
              | 1025
    a(href="#").recipes__link.btn.btn--color-black.btn--bg-yellow СМОТРЕТЬ ВСЕ