.btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
  transition: all linear .2s;
  text-align: center;
  display: block;
  padding: 10px 25px;
  &--sectio {
    max-width: 465px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55px;
  }
}
.btn--bg-green {
  background-color: #6fa143;
  color: #fff;
  &:hover {
    background-color: #2a804a;
  }
}
.btn--bg-pink {
  background-color: #c98064;
  &:hover {
    background-color: #2a804a;
  }
}
.btn--bg-yellow {
  background-color: #e3db4f;
  &:hover {
    background-color: #d7cf4f;
  }
}
.btn--color-black {
  color: #000;
}
.btn--color-white {
  color: #fff;
}
