.header__bottom {
  box-shadow: 0px -7px 12px 0px rgba(0,0,0, .055);
  -webkit-box-shadow: 0px -7px 12px 0px rgba(0,0,0, .055);
  -moz-box-shadow: 0px -7px 12px 0px rgba(0,0,0, .055);
  margin-top: 30px;
  &--shadow {
    box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.155);
    &-light {
      box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.155);
    }
  }
}
.header__menu {
  &-list {
    display: flex;
    align-items: center;
  }
  &-icon {
    display: none;
  }
  &-item {
    position: relative;
    flex: 1 1 auto;

    &:hover {
      .header__dropdown {
        transform: scaleY(1);
      }
      .header__menu-link {
        background-color: #6fa643;
        color: #fff;
      }
    }
    &--current {
      .header__menu-link {
        background-color: #6fa643;
        color: #fff;
      }
      &:hover {
        .header__dropdown {
          transform: scaleY(0);
        }
      }
    }
  }
  &-link {
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    transition: all linear .2s;
  }
}
.header__dropdown {
  position: absolute;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0 23px 0 rgba(0,0,0, .1);
  -webkit-box-shadow: 0 0 23px 0 rgba(0,0,0, .1);
  -moz-box-shadow: 0 0 23px 0 rgba(0,0,0, .1);
  padding: 7px 15px;
  transition: all linear .2s;
  transform: scaleY(0);
  transform-origin: top;
  z-index: 50;

  &-item {
    display: block;
  }
  &-link {
    margin: 7px 0;
    color: #9c9c9c;
    transition: all linear .2s;
    border-bottom: 2px solid transparent;
    line-height: 16px;
    &:hover {
      color: #000;
      border-bottom: 2px solid #000;
    }
  }
}
.header__submenu {
  &-inner {
    display: flex;
    align-items: center;
    padding: 16px 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    &--between{
      justify-content: space-between;
    }
  }
  &-link {
    margin-right: 40px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    font-weight: 400;
    color: #000;
    transition: all linear .2s;
    font-size: 13px;
    &--icon {
      position: relative;
      margin-left: 25px;
      &::before {
        content: '';
        position: absolute;
        width: 22px;
        height: 20px;
        background-image: url(../images/common/new.svg);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-position:  center;
        left: -23px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      border-color: #6fa143;
      color: #6fa143;
    }
    &--current {
      border-color: #6fa143;
      color: #6fa143;
      font-weight: 700;
    }
  }
}
@media (max-width: 1120px) {
  .header__submenu-link {
    margin-right: 30px;
  }
}
@media (max-width: 1040px) {
  .header__submenu-link {
    margin-right: 20px;
  }
}