.blog.blog__popup.popup#fact-view-1
  .container
    .blog__wrapper.blog__wrapper--shadow.blog__wrapper--padding
      h2.blog__title.title ЧЕМ ПООБЕДАТЬ НА РАБОТЕ?
      .blog__bg.lazy(data-src="static/images/content/blog/blog-image-1.jpg")
        +icon('heart', 'blog__bg-icon js-toggle')
      .blog__content
        p.blog__text Если вы считаете, что единственный вариант поесть на работе – это фаст-фуд, то сильно ошибаетесь. Здоровой и вкусной альтернативой может стать готовая еда, которую перед употреблением стоит всего лишь разогреть несколько минут в микроволновке.
        p.blog__text Современные технологии производства позволяют предложить покупателю максимально удобные и вкусные продукты питания. Российским первопроходцем в этом деле стала Торгово-промышленная компания «Вилон». Она, пожалуй, первой предложила отечественному покупателю новый формат культуры потребления: готовые натуральные замороженные первые и вторые блюда и закуски в удобных однопорционных лотках. Потребители это оценили. Больше никаких многочасовых хлопот на кухне, чтобы собрать контейнер с едой на работу, никаких ожиданий бизнес-ланча и ффовых потерь в кафе и ресторанах. Все уже приготовлено и готово к доставке прямо в офис!
        p.blog__text Из внушительного ассортимента, который выпускает «Вилон», можно составить полноценный рацион на целый день. Например, не успели позавтракать дома – попробуйте творожную запеканку, пообедать можно вкусным Борщом и Шницелем с картофельным пюре под красным соусом. Весь набор блюд обойдется в 240 рублей. При этом никакой вредной пищи – ингредиенты и рецептура блюд не отличаются от еды домашнего или ресторанного приготовления. Разница лишь в том, что для удобства транспортировки, хранения и потребления блюда сразу после приготовления и упаковки, еще горячие, отправляются в камеры шоковой заморозки. Все полезные вещества – на месте, вкус – на высоте!
        p.blog__text Готовые замороженные блюда от «Вилон», выпускаемые под торговыми марками «Сытоедов», «Добрые съести», «Чебуречье» и «Обожамс!» представлены во многих магазинах и во всех федеральных сетях. А если нет времени на поход в магазин, можно воспользоваться услугами Интернет-магазина «Вилон».
        p.blog__text Приятного аппетита!
      .blog__info
        .blog__info-statistics
          time(datetime="01.02.2020").blog__info-day 01.02.2020
          span.blog__info-statistic
            +icon('eye', 'blog__info-icon')
            span 1025
          span.blog__info-statistic.js-like
            +icon('like', 'blog__info-icon')
            span 1025
        .blog__socials
          span.blog__socials-text Поделиться:
          a(href="#").blog__socials-link
            img(src="static/images/common/vk.svg" alt="view-1.pug").blog__socials-icon.lazy
          a(href="#").blog__socials-link
            img(src="static/images/common/facebook.svg" alt="view-1.pug").blog__socials-icon.lazy
          a(href="#").blog__socials-link
            img(src="static/images/common/ok.svg" alt="view-1.pug").blog__socials-icon.lazy
          a(href="#").blog__socials-link
            img(src="static/images/common/email.svg" alt="view-1.pug").blog__socials-icon.lazy
          a(href="#").blog__socials-link
            img(src="static/images/common/twitter.svg" alt="view-1.pug").blog__socials-icon.lazy