.blog.blog__popup.popup#fact-view-2
  .container
    .blog__wrapper.blog__wrapper--shadow.blog__wrapper--padding
      h2.blog__title.blog__title--width.title КАРТОФЕЛЬНАЯ ЗАПЕКАНКА ПОД ГРИБНЫМ СОУСОМ
      .blog__row
        .blog__col.blog__col--w-big
          .blog__bg.lazy(data-src="static/images/content/blog/blog-image-1.jpg")
            .blog__timeout
              img(src="static/images/common/clock.png" alt="").blog__timeout-icon
              span.blog__timeout-text 5 часов
            +icon('heart', 'blog__bg-icon js-toggle')
          .blog__content
            h3.blog__content-subtitle Шаг 1
            p.blog__text Порежьте и обжарьте на растительном масле 1 репчатый лук до золотистого цвета. К нему добавьте фарш, приправьте его специями и солью. Помешивайте, пока весь фарш не схватится легкой корочкой. Добавьте в фарш рубленый чеснок и томат-пасту, немного воды и потушите 7-10 минут.
            h3.blog__content-subtitle Шаг 2
            p.blog__text Пока тушится фарш нарежьте картошку кусочками и сварите ее. Сделайте пюре, добавьте в него сливочное масло и сливки. В остывшее пплейте разболтанное куриное яйцо, приправьте солью и специями по вкусу.
            h3.blog__content-subtitle Шаг 3
            p.blog__text Для соуса мелко нашинкуйте грибы. В разогретой сковородке поджарьте лук до прозрачности, в него добавьте грибы. Тушить под крышкой на медленном огне 5-8 минут. Влейте немного сливок, перемешайте. После положите сверху на грибы пару пластинок плавленого сыра. Соус должен загустеть.
            h3.blog__content-subtitle Шаг 4
            p.blog__text В смазанную растительным маслом форму для запекания выложите первый слой: половину получившегося пюре разровнять по всей форме. Следующий слой: фарш. Затем также положите картофельное пюре, разровняйте его. Сверху полейте грибным соусом.
            h3.blog__content-subtitle Шаг 5
            p.blog__text Выпекать в духовке при температуре 180-190 градусов не менее 30 минут. Дайте картофельной запеканке с мясом под грибным соусом немного остыть и подавайте ее к столу.
        .blog__col.blog__col--w-small
          aside.blog__widget
            .blog__widget-bg(style="background-image: url(static/images/common/blog-image.jpg)")
              .blog__timeout
                img(src="static/images/common/clock.png" alt="").blog__timeout-icon
                span.blog__timeout-text 7 минут
              .blog__widget-decor(style="background-image: url(static/images/common/decor.png)")
                h3.blog__widget-title БЫСТРО И ВКУСНО!
            h3.blog__widget-title Ингредиенты:
            ul.blog__widget-list
              li.blog__widget-item • Картофель 450 гр.
              li.blog__widget-item • Яйцо куриное
              li.blog__widget-item • Масло сливочное
              li.blog__widget-item • Сливки
              li.blog__widget-item • Соль
              li.blog__widget-item • Специи
              li.blog__widget-item • Фарш мясной 300 гр. (говядина + свинина)
              li.blog__widget-item • Лук репчатый 2 шт.
              li.blog__widget-item • Томатная паста 1 ст. л.
              li.blog__widget-item • Чеснок
              li.blog__widget-item • Масло растительное
              li.blog__widget-item • Шампиньоны
              li.blog__widget-item • Плавленый сыр
      .blog__info
        .blog__info-statistics
          time(datetime="01.02.2020").blog__info-day 01.02.2020
          span.blog__info-statistic
            +icon('eye', 'blog__info-icon')
            span 1025
          span.blog__info-statistic.js-like
            +icon('like', 'blog__info-icon')
            span 1025
        .blog__socials
          span.blog__socials-text Поделиться:
          a(href="#").blog__socials-link
            img(src="static/images/common/vk.svg").blog__socials-icon.lazy
          a(href="#").blog__socials-link
            img(src="static/images/common/facebook.svg").blog__socials-icon.lazy
          a(href="#").blog__socials-link
            img(src="static/images/common/ok.svg").blog__socials-icon.lazy
          a(href="#").blog__socials-link
            img(src="static/images/common/email.svg").blog__socials-icon.lazy
          a(href="#").blog__socials-link
            img(src="static/images/common/twitter.svg").blog__socials-icon.lazy