footer.footer
  .container
    .footer__row
      .footer__col
        h3.footer__title ГОТОВЫЕ БЛЮДА
        ul.footer__list
          li.footer__item
            a(href="#").footer__link Завтраки
          li.footer__item
            a(href="#").footer__link Первые блюда
          li.footer__item
            a(href="#").footer__link Вторые блюда
          li.footer__item
            a(href="#").footer__link Постные блюда
          li.footer__item
            a(href="#").footer__link Жульены
          li.footer__item
            a(href="#").footer__link Выпечка
          li.footer__item
            a(href="#").footer__link Снеки и чебуреки
          li.footer__item
            a(href="#").footer__link Полуфабрикаты
          li.footer__item
            a(href="#").footer__link Готовые наборы “Сытоедов”

      .footer__col
        h3.footer__title ПОКУПАТЕЛЯМ
        ul.footer__list
          li.footer__item
            a(href="#").footer__link Сотрудничество
          li.footer__item
            a(href="#").footer__link Как заказать
          li.footer__item
            a(href="#").footer__link Где купить
          li.footer__item
            a(href="#").footer__link Акции
          li.footer__item
            a(href="#").footer__link Вопрос / Ответ
          li.footer__item
            a(href="#").footer__link Доставка и оплата
          li.footer__item
            a(href="#").footer__link Возврат товара
          li.footer__item
            a(href="#").footer__link Образцы документов

      .footer__col.footer__col--brands
        h3.footer__title.footer__title--align-center НАШИ БРЕНДЫ
        .footer__images
          a(href="#").footer__images-link
            img(src="static/images/content/brands/logo-balansika.jpg" alt="").footer__image
          a(href="#").footer__images-link
            img(src="static/images/content/brands/logo-cheburechie.jpg" alt="").footer__image
          a(href="#").footer__images-link
            img(src="static/images/content/brands/logo-obojams.jpg" alt="").footer__image
          a(href="#").footer__images-link
            img(src="static/images/content/brands/logo-sitoedov.jpg" alt="").footer__image
          a(href="#").footer__images-link
            img(src="static/images/content/brands/logo-snackbomb.jpg" alt="").footer__image
          a(href="#").footer__images-link
            img(src="static/images/content/brands/logo-streetfood.jpg" alt="").footer__image
      .footer__col.footer__col--payments
        h3.footer__title ПЛАТЕЖНЫЕ СИСТЕМЫ
        img(src="static/images/common/payments.png").footer__col-image
      .footer__col.footer__col--contents
        h3.footer__title КОНТАКТЫ
        ul.footer__list
          li.footer__item
            a(href="#").footer__link
              +icon('marker', 'footer__item-icon')
              span М. О., г Щелково, ул. Поварская, вл. 1
          li.footer__item
            a(href="#").footer__link
              +icon('email', 'footer__item-icon')
              span info@vilon.ru
          li.footer__item
            a(href="#").footer__link
              +icon('phone', 'footer__item-icon')
              span  +7 (495) 223-97-49
          li.footer__item
            a(href="#").footer__link
              +icon('clock', 'footer__item-icon')
              span ПН - ПТ 9:00-18:00
  .footer__copyright
    .container
      | © 1994-2020, ООО ТПК «Виион»
